<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="todolistMapper">
  
  <select id="selectTodoListAll" resultType="map">
  	SELECT LIST_NO, TO_CHAR(SYSDATE, 'YYYY-MM-DD') L_CREATE_DT
	FROM TODOLIST
	JOIN TODOLIST_DATE USING(LIST_NO)
	WHERE MEMBER_NO = 1
  </select>
  
  
</mapper>
