<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="todolistMapper">
  
	<resultMap type="TodoList" id="list_rm">
	    <id property="listNo" column="LIST_NO"/>
	    <result property="listContent" column="LIST_CONTENT"/>
	    <result property="listFl" column="LIST_FL"/>
	    <result property="memberNo" column="MEMBER_NO"/>
	    <result property="lCreateDt" column="L_CREATE_DT"/>
	</resultMap>
  
  
  
	<select id="selectTodoListAll" resultType="map">
		SELECT LIST_NO, TO_CHAR(L_CREATE_DT, 'YYYY-MM-DD') L_CREATE_DT, LIST_FL
		FROM TODOLIST
		JOIN TODOLIST_DATE USING(LIST_NO)
		WHERE MEMBER_NO = #{loginMemberNo}
	</select>
	 
	 
	<select id="DetailedTodoList" resultMap="list_rm">
		SELECT LIST_NO, LIST_CONTENT, LIST_FL, MEMBER_NO, TO_CHAR(L_CREATE_DT, 'YYYY-MM-DD')L_CREATE_DT
		FROM TODOLIST
		JOIN TODOLIST_DATE USING(LIST_NO)
		WHERE MEMBER_NO = #{loginMemberNo}
		AND L_CREATE_DT = #{choiceTodoDate}
	</select>
  
  
  	<update id="todoUpdate">
	    UPDATE TODOLIST SET LIST_FL =
	    <choose>
	        <when test ="listFl == true">'Y'</when>
	        <when test ="listFl == false">'N'</when>
	        
	    </choose>
	    WHERE LIST_NO = #{listNo}
	</update>
	
	
	<delete id="todoDelete">
		DELETE  FROM "TODOLIST"
		WHERE LIST_NO= #{todoNo}
	</delete>
	
	<insert id="todoInsert" parameterType="TodoList"
		useGeneratedKeys="true">
		<selectKey order="BEFORE" resultType="_int"
			keyProperty="listNo">
			SELECT SEQ_LIST_NO.NEXTVAL FROM DUAL
		</selectKey>
		INSERT INTO "TODOLIST"
		VALUES(#{listNo},#{listContent}, DEFAULT, #{memberNo})
	</insert>
	
	<insert id="todoDateInsert">
		INSERT INTO "TODOLIST_DATE"
		VALUES (${listNo}, #{lCreateDt})
	</insert>
  
</mapper>
