/* div{
    border: 1px solid pink;;
} */

.place{
    height: 100px;
}

#main-container{
    height: auto;
    margin: auto;
    max-width: 1200px;
}

.board-title{
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 15px;
}

#title-area > div:nth-of-type(1){
    padding-bottom: 10px;
    border-bottom: 2px solid #ddd;
}

#board-area{
    height: 100%;
    display: flex;
}

#board-area > div:nth-child(1){
    width: 60%;
}
#board-area > div:nth-child(2){
    /* width: 40%; */
    width: 40%;
    display: flex;
    flex-direction: column;
    /* justify-content: right; */
    align-items: end;
    /* margin: 20px; */
    margin-top: 30px;
}
#board-info > span{
padding: 0 10px;
}
.thumbnail{
    width: 400px;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;

    margin-left: auto;
    margin-right: auto;
    

    /* border: 2px solid #99E1ED;; */

}

.thumbnail > img{

    width: 90%;
}
#title{
    font-size: 1.7rem;
    padding-left: 20px;
}
hr{ border-bottom: 2px solid #ddd;}
#board-info > *{
    font-size: 1rem;
    /* padding-left: 2px; */
}
#board-info{
    display: flex;
    justify-content: end;
    padding: 20px;
}
.boardContent{
    height: 200px;
    /* border: none; */
    padding: 0 20px;
    font-size: 1.3rem;
}

.routine-area{
    height: 230px;
    /* background-color: #99E1ED; */
    display: flex;
    /* justify-content: space-between; */
    border-radius: 20px;
    margin-bottom: 20px;
}
.img-area{
    width: 200px;
    height: 200px;
    /* background-color: #fff; */
    border-radius: 10px;
    border: none;
    margin: auto;
}
.img-area > .img{
    width: 100%;
    margin: auto;

}
.routine-info {
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
   
    
}
.routine-info  > div {
    background-color:  #fff;
    width: 90%;
    border-radius: 10px;
    
}

.routineNm{
    display: flex;
    justify-content: space-between;
    height: 40px;
    border: none;
    padding: 5px 30px;
    font-size: 1.2rem;
    align-items: center;
    margin: 10px 10px 7px 10px;
    
}
.routineNm > button{
    width: 80px;
    height: 30px;

    cursor: pointer;
    background-color: #ddd;
    border: none;
    border-radius: 5px;
}

.routine-content{
    margin-top: 7px;
    line-height: 20px;
    padding: 10px 30px;
    height: 65%;
    border: none;
    margin: 0px 10px 10px 10px;

}
.routine-area > h1{
    margin-left: 15px;
    margin-right: 10px;
    color: #fff;
    
}

/* 작성자 정보 */
#member-area{
    border: 30px solid #99E1ED;
    background-color: #fff;
    border-radius: 20px;
    /* border: none; */
    width: 90%;
    height: 250px;
}
#member-area > div:nth-child(1){
    height: 70%;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-evenly;
}
#member-area > div:nth-child(1)  img{
    width: 100%;
    border-radius: 50%;
}
#member-area > div:nth-child(1)>span{
    font-size: 1.7rem;
    font-weight: bold;
}
/* 팔로우 버튼 */
#follow-btn{
    margin-top: 5px;
    height: 27px;
    width: 100px;

    font-size: 16px;
    border-radius: 5px;

    color: #99E1ED;
    background-color: white;
    border: 1px solid #99E1ED;

    cursor: pointer;
}

#follow-btn:hover{
    border-radius: 1px solid #99E1ED;

    color: #99E1ED;
    background-color: white;
    border: 1px solid #99E1ED;

    transition-duration: 0.2s;
}

#follow-btn:hover{
    border-radius: 1px solid #99E1ED;

    background-color: #99E1ED;
    color: white;
    border: 1px solid #99E1ED;

    transition-duration: 0.2s;
}
#profile-area{
    width: 80px;
    height: 80px;
    border:3px solid #ddd;
    border-radius: 50%;
}

#member-area > div:nth-child(2){
    width: 240px;
    margin: auto;
    text-align: center;
}
#member-area > div:nth-child(2) > span{
    font-size: 1.4rem;
}
#member-area > div:nth-child(2) > span:nth-child(1){
    margin-right: 20px;
}


/* ____________________ToDoList시작______________________ */
.detaile-todolist-area > div:nth-of-type(3){
    display: flex;
    justify-content: center;
}
.detaile-todolist-area > div:nth-of-type(3)>input{
    width: 85%;
    display: flex;
    justify-content: space-between;
    height: 40px;

    padding-left: 10px;
    font-size: 18px;

    border:2px solid #99E1ED;
    outline: none;
}

.detaile-todolist-area > div:nth-of-type(3) button{
    border: none;
    background-color: #aaa;
    width: 40px;
    height: 40px;
    cursor: pointer;
}


.detaile-todolist-area{
    min-width: 90%;
    min-height: 500px;
    border: 30px solid #99E1ED;
    border-radius: 20px;
    margin: 10px 0;
    padding: 30px;
    background-color: #FFFFFF;
    position: sticky;
    top: 130px

}
/* checkbox 박스  css*/
.check-area{
    display: flex;
    flex-direction: column;
    padding: 10px;
    align-items: center;
    height: 340px;
}
.ck{
    height: 20px;
    width: 20px;
    background-color: transparent;
    border: 2px solid #777;
    border-radius: 5px;
    box-sizing: border-box;
    position: relative;
    display: inline-block;
    transition: border-color ease 0.2s;
    cursor: pointer;
}

.ck::before, .ck::after {
  position: absolute;
  height: 0;
  width: 4px;
  background-color: #4285f4;
  box-sizing: border-box;
  display: inline-block;
  transform-origin: left top;
  border-radius: 5px;
  content: ' ';
  transition: opacity ease 0.5;
}
.ck::before {
  background-color: #4285f4;
}

.ck::before {
  top: 14.4px;
  left: 8.2px;
  box-shadow: 0 0 0 1px transparent;
  transform: rotate(-135deg);
}
.ck::after {
  top: 7.4px;
  left: 1px;
  transform: rotate(-45deg);
}

.detaile-todolist-area input:checked + .ck {
  border-color: #4285f4;
}

.check-area > div > input:checked +.ck::after {
  height: 10px;
  animation: bottomcheck 0.2s ease 0s forwards;
}

.check-area > div > input:checked + .ck::before {
  height: 24px;
  animation: topcheck 0.4s ease 0s forwards;
}
.none{
	display: none;
}
@keyframes bottomcheck {
  0% {
    height: 0;
  }
  100% {
    height: 10px;
  }
}
@keyframes topcheck {
  0% {
    height: 0;
  }
  50% {
    height: 0;
  }
  100% {
    height: 24px;
  }
}

.check-area > div{
    align-items: center;
    width: 90%;
    align-content: space-between;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.check-area > div > span{
    font-size: 16px;
    font-weight: bold;
    margin-left: 20px;
}

.detaile-todolist-area > h2{
    text-align: center;
    font-size: 2rem;
    margin-top: 0;
}
/* .todolist-area > hr{
    margin-bottom: 20px;
} */

.detaile-todolist-area > .check-area  button{
    border: none;
    background-color: #aaa;
    cursor: pointer;
}

/* 투두리스트 버튼 영역 */
.tdl-btnArea{
    width: 70%;
    /* border: 1px solid black; */
    margin: auto;
    justify-content: space-between;
    display: flex;
}

.tdl-btnArea > a, .tdl-btnArea > a:visited {
    text-decoration: none;
    color: #00AE68;
    cursor: pointer;


    display: block;
    position: relative;
    float: left;
    width: 120px;
    padding: 0;
    margin: 10px 20px 10px 0;
    font-weight: 600;
    text-align: center;
    line-height: 50px;
    color: #FFF;
    border-radius: 5px;
    transition: all 0.2s ;

    background: #5DC8CD;

    box-shadow: 0px 5px 0px 0px #1E8185;
}

.btnPush:hover {
    margin-top: 15px;
    margin-bottom: 5px;
}

.btnLightBlue.btnPush:hover {
    box-shadow: 0px 0px 0px 0px #1E8185;
  }

.complete{
    text-decoration-line: line-through;
    text-decoration-color: #ee4949 ;
    text-decoration-thickness: 2px;
}

.progress{
    background-color: #e0e0e0;
    width: 100% !important;
    border-radius: 10px;
}
.progress-num{
    background-color: #99E1ED;
    height: 20px;
    border-radius: 10px;
    transition-duration: 0.5s;
}


/* 버튼 영역************** */
/* 좋아요 영역 */
/* 좋아요 영역 */
#btn-area{
    margin: auto;
   
    height: 100px;
    display: flex;
    justify-content: space-between;
}

.board-like{
    height: 100px;
    width: 100px;

    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
    
    margin: 10px auto 0 auto;
}

.likeCount{
    /* margin-top: 10px; */
    margin: auto; /* 수직 가운데 정렬 */
    font-size: 20px;
    text-align: center; /* 가운데 정렬 */
       
    margin-bottom: 20px;
    
}

.like-cnt{
    width: 60px;
    height: 60px;

    border-radius: 50%;
    background-color: #ddd;

    display: flex;
    justify-content: center;
    cursor: pointer;
    align-items: center;

    z-index: 2;
}

.like-btn{
    color: #fff;
}

/* 나머지 버튼 */
#btn-area{
    margin: 60px 0 0 0;
    justify-content: space-around;
}

#btn-area > div{
    display: flex;
    justify-content: space-between;
}

#btn-area button{
    width: 100px;
    height: 50px;
    background-color: #eee;
    border:  none;
    border-radius: 5px;
    cursor: pointer;
}

#btn-area button:hover{
    background-color: #99E1ED;
    transition-duration: 0.5s;
}


/* DO it 버튼 움직임 */
.routineNm > button:hover{
 background-color: #99E1ED;
 color: #fff;
 transition-duration: 0.5s;   
}

/* 카카오톡 공유하기 */
#social-btn-area{
    width: 300px;
    display: flex;
    justify-content: center;
}

#kakao-share-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 170px !important;
    padding: 0 20px;

    position: relative;
    left: 47px;
}

#social-btn-area > button:hover{
    background-color: #F7E600;
}

#kakao-logo{
    width: 30px;
}


#commentArea2{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 1000px;
    margin: auto;
}