* {
    box-sizing: border-box;
}


#main-container{
    margin: 100px 400px;
    height: auto;
}

#title-area > div:nth-of-type(2){
    padding-bottom: 10px;
    border-bottom: 2px solid #ddd;
}

/* 검색창, 조회 정렬 버튼 영역 */
#search-area{
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
}

.searchBar{
    width: 220px;
    height: 27px;

    border-radius: 5px;
    border: 2px solid #ddd;
    background-color: white;

    display: flex;
    justify-content: left;
    align-items: center;

    z-index: 1;
    opacity: 1;

    padding-left: 5px;
}

#search-area input{
    width: 300px;

    border: none;
    -webkit-appearance: none;
    text-align: left;
    margin-left: 10px;

    overflow: auto;

    z-index: -1;
    font-size: 15px;
}

#search-area input:focus{
    outline: none;
}

.fa-magnifying-glass{
    font-size: 15px;
}

#sort-btn-area a{
    text-decoration: none;
    color: #797979;
}

/* 해시태그 영역 */
.hashTag-area{
    display: flex;
    position: relative;

    right: 120px;
}

.hashTag-area div{
    width: 140px;
    background-color: #99e1ed;

    margin: 0 7px;
    padding: 5px;

    color: white;
    font-size: 15px;
    text-align: center;

    border-radius: 15px;

    cursor: pointer;
}

.hashTag-area .fa-solid{
    display: none;
}

.hashTag-area div:hover .fa-solid{
    display: inline;
}

.fa-circle-xmark{
    font-size: 15px;

    position: relative;
    left: 3px;
}

/* 게시글 썸네일 영역*/
#list-area{
    margin-top: 70px;

    display: grid;
    grid-template-columns: 250px 250px 250px;
    grid-template-rows: 330px 330px 330px;
    row-gap: 70px;
    column-gap: 120px;

    justify-content: center;
}

.thumbnail{
    border: 1px solid #ddd;
    
    background-color: white;
}

.thumbnail > div:first-of-type{
    height: 60%;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #797979;

}

.thumbnail > div:first-of-type> img{
    width: 200px;
}

.thumbnail > div:nth-of-type(2){
    height: 40%;
    padding: 10px;
}

/* 게시글 제목 */
.title{
    font-size: 20px;
    /* font-weight: bold; */
}

/* 게시글 작성일, 좋아요 영역 */
.createDate-area{
    display: flex;
    justify-content: space-between;

    margin-top: 10px;
}

/* 게시글 작성자 프로필 영역 */
.profile-area{
    margin-top: 20px;
    display: flex;
    align-items: center;
}

.profileArea > img{
    width: 40px;
    border-radius: 50%;
}

/* 닉네임 영역 */
.profile-area > div:nth-of-type(2){
    width: 200px;
    margin-left: 5px;
}

/* 좋아요 영역 */
.profile-area > div:nth-of-type(3){
    margin-left: 90px;
    width: 120px;
}

/* 페이지네이션 영역 */
.paginationArea{
    height: 100px;
    
    display: flex;
    justify-content: center;
    align-items: center;

    margin-top: 40px;
}