* {
    box-sizing: border-box;
    /* border: 1px solid #ddd; */
}

#main-container{
    margin: 100px 400px;
    min-height: 61vh;
    min-width: 1200px;

}

#title-area > div:nth-of-type(2) {
    padding-bottom: 10px;
    border-bottom: 2px solid #ddd;
}

#title-area h1{
    font-weight: bold;
    font-size: 2em;
}

#title-area{
    color: #797979;
}
.src{
    width: 100px;
}
.tip{
    font-size: 1.2em;
}
/* 게시글 작성 영역 */
#middle-area{
    margin: 10px 0;
    height: auto;

    display: flex;
    flex-direction: column;

    align-items: center;
}

/* 게시글 제목 영역 */
#title-middle-area{
    margin-top: 20px;
    height: 40px;
}

#inquireTitle{
    height: 40px;
    width: 300px;

    font-size: 20px;

    padding: 15px;

    resize: none;

    outline: none;
    border: 2px solid #99E1ED;
    border-radius: 5px;

    overflow: hidden;
}

#inquireTitle:focus-within{
    border: 2px solid #ddd;
}

#inquireContent{
    font-size: 20px;
    padding: 15px;
    resize: none;
    outline: none;
    border: 2px solid #99E1ED;
    border-radius: 5px;
    overflow: auto;
}
.fa-circle-xmark{
    font-size: 11px;

    margin-left: 6px;

    position: relative;
    bottom: 3px;
}

/* 버튼 영역 */
#button-area{
    text-align: center;
    margin: 10px;
}

#button-area > button{

    font-size: 20px;

    width: 100px;
    height: 40px;
    margin: 0 5px;

    cursor: pointer;

    background-color: #99E1ED;
    color: white;

    border: none;
    border-radius: 7px;
    outline: none;

    transition: 800ms;
}

#button-area > button:hover{
    background-color: white;
    color: #99E1ED;

    border: 1px solid #99E1ED;
}


.fileBox input[type="file"] {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

.fileBox label {
    display: inline-block;
    padding: .5em .75em;
    color: #999;
    font-size: inherit;
    line-height: normal;
    vertical-align: middle;
    background-color: #fdfdfd;
    cursor: pointer;
    border: 1px solid #ebebeb;
    border-bottom-color: #e2e2e2;
    border-radius: .25em;
}

/* named upload */
.fileBox .uploadFileName {
    display: inline-block;
    padding: .5em .75em;
    font-size: inherit;
    font-family: inherit;
    line-height: normal;
    vertical-align: middle;
    background-color: #f5f5f5;
    border: 1px solid #ebebeb;
    border-bottom-color: #e2e2e2;
    border-radius: .25em;
    -webkit-appearance: none;
    /* 네이티브 외형 감추기 */
    -moz-appearance: none;
    appearance: none;
}
/* imaged preview */
.fileBox .uploadDisplay {
    margin-bottom: 5px;
}

@media(min-width: 768px) {
    .fileBox .uploadDisplay {
        display: inline-block;
        margin-right: 5px;
        margin-bottom: 0;
    }
}
.fileBox .previewImage{
    margin-left: 20px;
}
.fileBox .upload-thumb-wrap {
    display: inline-block;
    width: 100px;
    padding: 4px;
    vertical-align: middle;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #fff;
}

.fileBox .uploadDisplay img {
    display: block;
    max-width: 100%;
    width: 100%;
    height: auto;
}
.src{
    width: 100px;
}
/* 사진업로드 버튼 글씨 영역 */
.fileBox label {
    color: #fff;
    font-weight: bold;
    background-color: #00d1f6;
    /* border-color:#00d1f6; */
    border: none;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
}
.fileBox label:hover {
    background-color: #00b6d6;
}
#deleteImage{
    color: #fff;
    font-weight: bold;
    background-color: #fc5050;
    /* border-color:#00d1f6; */
    border: none;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
    display: inline-block;
    padding: 0.5em 0.75em;
    line-height: normal;
    vertical-align: middle;
    /*margin-bottom: 5px;*/
}
.place{
    height: 100px;
}
select[name="inquiryType"] {
    width: 25%;  /* 전체 너비로 설정 */
    padding: 8px 10px;
    margin-top: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    /*appearance: none;*/
}

/* default option 스타일 */
select[name="inquiryType"] option[value=""] {
    color: #aaa;
}

