*{ box-sizing: border-box;
 /*    border: 1px solid black;  */
}


a{
    text-decoration: none;
    color: black;
}

a:hover{
    
    color:  #99E1ED;
}

.Jbody{
    margin: auto;
    display: flex;
    justify-content: center;
}

.Jcenter{
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

table{
    width: 1000px;
    border-collapse: collapse;
}

th{
    background-color: darkgray;
    height: 30px;
}

td{
    text-align: center;
    border-bottom: 1px solid grey;
    height: 35px;
}


.Jhead{
    width: 1000px;
}
.Jtext{
    display: flex;
    border-bottom: 2px solid gray;
    height: 30px;
    width: 1000px;
}

.Jsearch{
    width: 1000px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: right;
}

.Jsearch > input {

    width: 180px;
    height: 35px;
    border: 0.5px solid gray;
    border-radius: 1px;
    border-left: none;
    outline: none;
}

.Jsearch > button {

    border-radius: 1px;
    border: 0.5px solid gray;
    border-right: none;
    height: 35px;
    width: 35px;
    
}


.Jsearch > button:hover{
    
    cursor: pointer;
}


.pagination-area{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.pagination{
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 0;
}

.pagination li{
    width: 20px;
    margin: 0 5px;
    text-align: center;
}

.pagination a{
    display: block;
    width: 100%;
    height: 100%;
}

.Jwrite{
    width: 70px;
    height: 30px;
    margin-top: 15px;
    margin-left: 960px;
    background-color: #99E1ED;
    color: white;
    font-weight: bold;
    border-radius: 2px;
    border:none;
}


.Jwrite:hover{
    cursor: pointer;
}

#Jpoint{
    width: 35px;
    height: 20px;
    border-radius: 20px;
    font-size: 12px;
    font-weight: bold;
    background-color: forestgreen;
    
    color: white;
}

tbody > tr:nth-child(1) > td:nth-child(1){
    display: flex;
    justify-content: center;
    align-items: center;
}