/*@font-face {*/
/*    font-family: 'Pretendard-Regular';*/
/*    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');*/
/*    font-weight: 500;*/
/*    font-style: normal;*/
/*}*/

* {
    box-sizing: border-box;
}
#main-photo{
    border: 1px solid #e5e5e5;
    width: 500px;
    height: 500px;
    display: block;
}
.place{
    height: 100px;
}

.top-container {
    display: flex;
    /* border: 1px solid #99E1ED;; */
}

.left-content {
    flex: 50%;
    
    display: flex;
    align-items: center;
    justify-content: center;

}

.left-content img {
    width: 350px;
    height: 350px;
}

.right-content {
    flex: 50%;
    margin-right: 40px;

}

/* a태그 속성 제거 */
a {
    text-decoration: none;
    color: #797979;
}

#main-container {
    margin: 100px 250px;
    min-width: 1200px;
    background-color: #fff;
}
.main-con{
    /*height: 1000px;*/
    /*padding: 100px;*/
}
select{
    background-image: none;
    border-radius: 30px;
    padding: 0 10px;
    color: #477A7B;
    border: 0;
    background-color: #dfe9e8;
    font-size: 15px;
    width: 230px;
    max-width: 100%;
    min-height: 40px;
}
.count{
    padding: 10px 10px 10px 0;
    font-size: 18px;
    line-height: 1.4em;
}
#amount{
    font-size: 20px;
    font-weight: bold;
    color: #000;
    margin-left: 5px;
    font-family: 'Montserrat','Nanum Gothic',sans-serif !important;
}
#amount h3{
    font-family: 'Montserrat','Nanum Gothic',sans-serif;
}
#title{
    /*font-size: 22px;*/
    color: #565656;
    letter-spacing: -1px;
    margin-top: 7px;
    padding-bottom: 20px;
    font-size: 25px;
    font-weight: 600;
    font-family: 'Montserrat','Nanum Gothic',sans-serif;
}
.right{
    margin-bottom: 20px;
    font-size: 16px;
    line-height: 1.5;
}
.right h3{
    font-family: 'Montserrat','Nanum Gothic',sans-serif;
}
.min{
    padding-left: 60px;
    margin-top: 5px;
    margin-bottom: 30px;
}
.number {
    display: flex;
    align-items: center; 
}

.number > div {
    margin-right: 10px;
}
.submit-btn{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 40px;
    margin: 0 0 10px 0;
    padding: 25px 15px;
    font-size: 1.3em;
    font-weight: 800;
    border: 0;
    box-sizing: border-box;
}
.submit-btn:hover{
    cursor: pointer;
}
#now-btn{
    background-color: #797979;
    color: #fff;
}


/* 상품, 후기, Q&A nav */

/* 상품상세 영역 */
.item-nav{
    display: flex;
    border: 0;
    height: 60px;
    justify-content: center;
    text-align: center;
}
.item-nav > li {
    float: left;
    width: 16.66667%;
    list-style: none;
}
.item-nav a {
    display: block;
    height: 59px;
    border: 1px solid #e9e9e9;
    border-bottom: 1px solid #e9e9e9;
    background: #fff;
    font-size: 1.3em;
    font-weight: bold;
    line-height: 60px;
    border-radius: 0;
    margin-left: -1px;
    color: #999999;
    transition: background-color 0.4s, color 0.4s;
}
.item-nav li a:hover {

    background-color: #99E1ED;
    color: #fff;

}
.item-content{
    text-align: center;
}
.item-content img{
    width: 1000px;
    height: auto;
}

/* 제품 상세 영역 */
.item-detail{
    width: 1000px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    color: #333;
}
.text2{
    font-size: 15px;
    line-height: 26px;
}
strong{
    font-weight: bold;
}
.text3{
    font-weight: bold;
    font-size: 18px;
}
.notice {
    background: #fff;
    border: 3px solid #e5e5e5;
    box-sizing: border-box;
    margin-top: 80px;
    margin-left: 80px;
    margin-right: 80px;
    height: 100%;
    padding: 30px 0 50px;
    line-height: 1.5;
}

.notice ul {
    display: flex; 
    list-style: none; 
    margin-bottom: 10px;
}

.notice li {
    font-weight: bold;
    margin-right: 20px;
}

/* 제목 스타일 */
.notice .title {
    min-width: 80px;
}

/* -------------------------------- 스크롤 버튼 -------------------------------- */

.scroll-top-btn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 100;
    font-size: 18px;
    width: 60px;
    height: 60px;
    text-align: center;
    line-height: 60px;
    /*background: #1abc9c;*/
    background-color: #477A7B;
    color: white;
    cursor: pointer;
    border-radius: 50%;
    transition: background 0.3s, opacity 0.5s, visibility 0.5s;
    opacity: 0;
    visibility: hidden;
    text-decoration: none;
    font-weight: bold;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
}

.scroll-top-btn:hover {
    background: white;
    color: #477A7B;
}
.scroll-top-btn.show {
    display: block;
    opacity: 1;
    visibility: visible;
}

/* -------------------------------- 스크롤 버튼 끝 -------------------------------- */