@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

* {
    box-sizing: border-box;
}
/* a태그 속성 제거 */
a {
    text-decoration: none;
    color: #797979;
}

#main-container {
    margin: 100px 250px;
    min-width: 1200px;
    max-width: 1200px;
    /* text-align: center; */
}
form{
    margin-bottom: 80px;
}

/* 리뷰 게시판 영역 */
.board-name {
    font-size: 2.2em;
    margin: 20px 0;
}

table{
    border-top: 1px solid #e0e0e0;
    width: 850px;
}
th{
    padding: 10px 20px;
    border: 1px solid #e0e0e0;
    border-width: 0 1px 1px 0;
    font-size: 15px;
    font-weight: normal;
    vertical-align: middle;
}
td{
    padding: 10px 20px;
    border-bottom: 1px solid #e0e0e0;
    text-align: left;
    vertical-align: middle;
}
.form_input{
    /* width: 271px; */
    height: 35px;
    padding: 0 10px;
    border: 1px solid #dcdcdc;
    font-size: 15px;
    line-height: 35px;
    vertical-align: middle;
}
#delZip{
    width: 120px;
}
.addr-input{
    display: flex;
}
.addr-search{
    border: 1px solid #666;
    background: #fff;
    color: #666 !important;
    font-size: 13px;
    font-weight: bold;
    height: 35px;
    padding: 0;
    line-height: 33px;
    width: 100px;
    text-align: center;
    cursor: pointer;
}
.form_address{
    width: 271px;
}
textarea{
    resize: none;
}

.notice {
    /* width: 700px; */
    width: 850px;
    background: #fff;
    border: 1px solid #e5e5e5;
    box-sizing: border-box;
    height: 100%;
    padding: 30px 0 50px;
    line-height: 1.5;
}

.notice ul {
    display: flex;
    list-style: none;
    margin-bottom: 10px;
}

.notice li {
    font-weight: bold;
    margin-right: 20px;
}

/* 제목 스타일 */
.notice .title {
    min-width: 80px; 
}

.fixed-con{
    position: fixed;
    left : 62%;
    top: 20%;
} 

.box {
    width: 310px;
    padding: 30px 34px;
    background: #f8f8f8;
    /* text-align: center;  */
    border-radius: 10px; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.title-first {
    padding-top: 0;
    color: rgb(51, 51, 51);
    font-size: 20px; 
    font-weight: 700;
    margin-bottom: 70px;
}

.tbl_order2 {
    width: 100%;
    margin: 10px 0;
    border-collapse: collapse;
    background: #fff;
    display: flex;
    justify-content:space-between;
    font-size: 15px;
    padding: 10px; 
    margin: 10px 0;
    text-align: left;
    color: rgb(51, 51, 51);
    border-bottom: 1px solid #dfdfdf;
}

/* Style the total order section */
.total_ord {
    margin-top: 20px;
    padding-top: 20px; 
    font-size: 18px; 
    font-weight: 700;
    border-top: 2px solid #dfdfdf;
    display: flex;
    justify-content:space-between;
}
.total{
    color: #d0591f;
    font-size: 22px;
    font-weight: 500;
}
.total_amount{
    font-weight: bold;
    color: rgb(51, 51, 51);
}
.submit-btn{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 310px;
    height: 40px;
    margin: 0 0 10px 0;
    padding: 25px 15px;
    font-size: 1.3em;
    font-weight: 800;
    border: 0;
    box-sizing: border-box;
}
.submit-btn:hover{
    cursor: pointer;
}
#payment-btn{
    background-color: #797979;
    color: #fff;
}
#cancle-btn{
    border-color: #cbcbcb;
    background: #fff;
}