* {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
    min-width: 1200px;
    min-height: 800px;
}
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px 40px;
    border-radius: 5px;
    height: 90vh;
}

/* 타이틀 부분 */
main .title-area {
    text-align: center;
    margin-bottom: 20px;
}
main .title-area p:nth-of-type(1){
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 10px;
    color: black;
}
main .title-area p:nth-of-type(2){
    font-size: 14px;
    color: black;
}

/* 서브 타이틀 부분 */
.find-area p{
    text-align: center;
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: bold;
    color: black;
}

/* 아이디, 비밀번호 찾기 영역 */
main section:nth-of-type(2){
    display: flex;
}
.find-area{
    width: 400px;
    height: 320px;
    padding: 40px 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* 휴대폰, 아이디, 인증번호 입력 부분*/
.input-box {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    width: 300px;
}
.input-box input {
    border: 2px solid #ccc;
    border-radius: 5px;
    background-color: inherit;
    display: block;
    padding: 10px 10px;
    margin: 10px 0;
    font-size: 18px;
}
.input-box input:focus{
    outline: 0;
    border: 2px solid #99E1ED;
}
.width30{width: 30%;}
.width65{width: 65%;}
.width100{width: 100%;}

/* 타이머 영역 */
.timerSection{
    height: 15px;
    width: 100%;
    font-size: 15px;
    color: black;
    text-align: end;
    line-height: 0px;
    padding-right: 25px;
}

/* 비밀번호 변경 유효성검사 표시 영역 */
.regExSection{
    height: 0;
    width: 100%;
    font-size: 12px;
    color: gray;
    text-align: center;
    line-height: 0px;
    margin: 0;
}
#regExDisplay{
    font-size: 11px;
}

/* 아이디/비밀번호찾기 버튼, 
    아이디 찾기 결과창 버튼,
    비밀번호 변경 버튼*/
#findIdBtn, #findPwBtn, 
#resultRoginBtn, #resultFindPwBtn,
#changePwBtn {
    cursor: pointer;
    display: inline-block;
    width: 100%;
    background: #99E1ED;
    color : white;
    padding: 15px;
    margin-top: 10px;
    font-size: 18px;
    font-weight: bold;
    border: 0;
    border-radius: 5px;
}
/*인증번호 전송 버튼*/
#sendSmsBtn, #sendEmailBtn {
    cursor: pointer;
    display: inline-block;
    width: 30%;
    background: #99E1ED;
    color : white;
    padding: 15px 5px;
    font-size: 10px;
    font-weight: bold;
    border: 0;
    border-radius: 5px;
    margin-left: 5px;
}

/* 모든 버튼 */
.findInfo-btn:focus {
    outline: 0;
}
.findInfo-btn:hover{
    transform: scale(1.02);
    transition-duration: 0.3s;
}
.findInfo-btn:active {
    transform: scale(0.98);
}

/* 아이디찾기 결과 모달창 영역 */
#resultArea{
    position: fixed;
    top: 11.5%;
    width: 100%;
    height: 76.5%;
    background-color: rgba(120, 120, 120, 0.8);
    display: none;
    justify-content: center;
    align-items: center;
}
#resultContentArea{
    position: relative;
    width: 400px;
    height: 250px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 0px 4px 4px #99E1ED;
}

/* 조회된 id 표시 부분 */
#resultContentArea p{
    padding: 0;
    margin: 0;
    font-size: 14px;
    text-align: center;
    color: gray;
}
#resultContentArea p:nth-of-type(2){margin-bottom: 10px;}
#idResult{
    font-size: 20px;
    color: black;
}

/* 조회결과 닫기 버튼 */
#resultCloseBtn{
    position: absolute;
    cursor: pointer;
    top: 8px;
    right: 10px;
    font-size: 30px;
    font-weight: bold;
}
