* {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
    min-width: 1200px;
    min-height: 800px;
}
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px 40px;
    border-radius: 5px;
    height: 90vh;
}


/* 타이틀 부분 */
main .title-area {
    text-align: center;
    margin-bottom: 20px;
}
main .title-area p:nth-of-type(1){
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 10px;
    color: black;
}
main .title-area p:nth-of-type(2){
    font-size: 14px;
    color: black;
}


/* 아이디, 비밀번호 입력 부분*/
#loginFrm{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.input-box {
    position: relative;
    width: 300px;
}

.input-box input {
    border: 2px solid #ccc;
    border-radius: 5px;
    background-color: inherit;
    display: block;
    width: 100%;
    padding: 10px 10px;
    margin: 10px 0;
    font-size: 18px;
}

.input-box input:focus{
    outline: 0;
    border: 2px solid #99E1ED;
}

/* 로그인 버튼 부분*/
.login-btn {
    cursor: pointer;
    display: inline-block;
    width: 100%;
    background: #99E1ED;
    color : white;
    padding: 15px;
    font-size: 18px;
    font-weight: bold;
    border: 0;
    border-radius: 5px;
    margin-top: 10px;
}
#kakao-login-btn {
    cursor: pointer;
    display: inline-block;
    width: 100%;
    background: #F7E111;
    color : black;
    padding: 15px;
    font-size: 18px;
    font-weight: bold;
    border: 0;
    border-radius: 5px;
    margin-top: 10px;
}

.login-btn:focus, .kakao-login-btn:focus {
    outline: 0;
}

.login-btn:hover, .kakao-login-btn:hover{
    transform: scale(1.02);
    transition-duration: 0.3s;
}

.login-btn:active, .kakao-login-btn:active {
    transform: scale(0.98);
}


/* 아이디 저장 부분*/
.saveId-area {
    position: relative;
    padding-left: 2px;
    width: 100%;
}

.saveId-area input[type="checkbox"] {  /* 실제 체크박스는 화면에서 숨김 */
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip:rect(0,0,0,0);
    border: 0
}
.saveId-area input[type="checkbox"] + label {
    display: inline-block;
    position: relative;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}
.saveId-area input[type="checkbox"] + label:before {  /* 가짜 체크박스 */
    content: ' ';
    display: inline-block;
    width: 16px;  /* 체크박스의 너비를 지정 */
    height: 16px;  /* 체크박스의 높이를 지정 */
    line-height: 16px; /* 세로정렬을 위해 높이값과 일치 */
    margin: -2px 8px 0 0;
    text-align: center; 
    vertical-align: middle;
    background: #fafafa;
    border: 1px solid #cacece;
    border-radius : 3px;
    box-shadow: 0px 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05);
}
.saveId-area input[type="checkbox"] + label:active:before,
.saveId-area input[type="checkbox"]:checked + label:active:before {
    box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px 1px 3px rgba(0,0,0,0.1);
}

.saveId-area input[type="checkbox"]:checked + label:before {  /* 체크박스를 체크했을때 */ 
    content: '\2714';  /* 체크표시 유니코드 사용 */
    color: #99a1a7;
    text-shadow: 1px 1px #fff;
    background: #e9ecee;
    border-color: #adb8c0;
    box-shadow: 0px 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05), inset 15px 10px -12px rgba(255,255,255,0.1);
}

.saveId-area input[type="checkbox"] + label {
    padding-left: 30px;
}
.saveId-area input[type="checkbox"] + label:before {
    position: absolute;
    left: 0;
    top: 0;
    margin-top: 0;
    opacity: .6;
    box-shadow: none;
    border-color: #6cc0e5;
    -webkit-transition: all .12s, border-color .08s;
    transition: all .12s, border-color .08s;
}

.saveId-area input[type="checkbox"]:checked + label:before {
    position: absolute;
    content: "";
    width: 10px;
    top: -5px;
    left: 5px;
    border-radius: 0;
    opacity:1; 
    background: transparent;
    border-color:transparent #6cc0e5 #6cc0e5 transparent;
    border-top-color:transparent;
    border-left-color:transparent;
    -ms-transform:rotate(45deg);
    -webkit-transform:rotate(45deg);
    transform:rotate(45deg);
}

.no-csstransforms .saveId-area input[type="checkbox"]:checked + label:before {
    /*content:"\2713";*/
    content: "\2714";
    top: 0;
    left: 0;
    width: 21px;
    line-height: 21px;
    color: #6cc0e5;
    text-align: center;
    border: 1px solid #6cc0e5;
}

/* 회원가입, 아이디/비밀번호 찾기 */
.text-area {
    margin-top: 10px;
    width: 100%;
    display :flex;
    justify-content: space-between;
}

.text-area a{
    text-decoration: none;
    color: black;
    margin: 0 5px;
}