@charset "utf-8";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 0px solid silver;
}

body {
  font-size: 0.8rem;
  line-height: 1rem;
  color: #333;
  letter-spacing: 0.1px;

  display: flex;
  flex-direction: column;
}

/* 회원 가입 메인 타이틀 영역 */
.signUp-main-title{
  margin: 0 auto;
  margin-top: 100px !important;

  font-size: 30px;
  font-weight: 600;
}

#signUp-main-title-sub{
  margin: auto;
  margin-top: 40px !important;

  font-size: 18px !important;
}

.signUp-hr{
  margin: 30px 550px;
  border: 1px solid #ddd;
}

.signUp-message{
  color: #b3b3b3;
}

/* --------------------------------------------------------------------------------- */

h2 {
  font-size: 1.2em;
  line-height: 1.2rem;
  text-align: center;
}

h3 {
  font-size: 1.4em;
  line-height: 1.4rem;
}

a:link { color: #666; text-decoration: none;}
a:visited { color: #666;}
a:hover { color: #666;}
a:active { color: #666;}

ul {
  list-style: none;
}

.ico {
  left: 6px;
  top: 4px;
  vertical-align: -6px;  
}

/* input 태그 전체 스타일 */
input {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 14px;
  margin: 10px 0;
  font-size: 1rem;
}

input:focus {
  outline: none;
}

input[type=radio] {
  position: absolute;
  z-index: 1;
  opacity: 0;
}

input[type=radio]+.ico {
  display: inline-block;
  position: relative;
  width: 24px;
  height: 24px;
  margin-right: 10px;
  border: 1px solid #ddd;
  background-color: #fff;
  border-radius: 100%;
  vertical-align: -4px;
}

/* --------------------------------------------------------------------------------- */

/* 버튼 전체 스타일 */
form button {
  width: 50%;

  font-size: 1rem;
  text-transform: uppercase;

  padding: 14px;
  margin-left: 10px;

  border: 1px solid #99e1ed;
  border-radius: 4px;

  color: #99e1ed;
  background: white;

  cursor: pointer;
}

form button:hover{
  transition-duration: 0.4s;
  
  background-color: #99e1ed;
  color: white;
}

/* --------------------------------------------------------------------------------- */

#adr{
  width: 30%;
  font-size: 1rem;
  font-weight: bold;
  border: 1px solid black;
  color: black;
  background: white;
}

/* 회원 가입 폼 태그 */

#signUpFrm {
  max-width: 768px;
  margin: 0 auto;
  padding: 0 5%;
}

/* membership 내부 div 전체 */
form label {
  font-size: 15px !important;
  margin-top: 30px !important;
}

form div label.imp::after {
  content: "*";
  color: #ee6a7b;
}

form .membership div div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

form .membership div input {
  width: 100%;
}

form .membership div ul li {
  width: 100%;
}

form .membership :nth-child(7) div {
  position: relative;
  margin-bottom: 0;
}

form .membership :nth-child(7) div img {
  position: absolute;
  right: 10px;
  width: 28px;
  height: 28px;
}

/* 연락처 입력 영역 */
form .membership :nth-child(8) div input {
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-top: 10px;
  text-align: center;
}

form .membership :nth-child(10) {
  margin: 2rem 0;
}

form .membership :nth-child(9) ul,
form .membership :nth-child(10) p {
  margin: 20px 0;
}

form .membership :nth-child(9) ul li,
form .membership :nth-child(10) ul li {
  margin: 20px 0;
  font-size: 1rem;
}

form > button {
  margin: 0 auto;
  width: 100%;
}

a {
  text-decoration: none;
  transition: 0.3s all ease-in-out;
}
a:hover {
  text-decoration: none;
}
.main-container {
  margin-top: 70px;
  margin-bottom: 50px;
}

.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.int-area {
  width: 400px;
}
.int-area input {
  width: 100%;
  padding: 20px 10px 10px;
  border: none;
  border-bottom: 1px solid #999;
  font-size: 18px;
  color: black;
  outline: none;
  margin-top: 10px;
}
.int-area label {
  position: relative;
  top: -30px;
  left: 5px;
  font-size: 18px;
  color: #757575;
  transition: all 0.5s ease;
}
.int-area label.warning {
  color: red !important;
  animation: warning 0.3s ease;
  animation-iteration-count: 3;
}
@keyframes warning {
  0% {
    transform: translateX(-6px);
  }
  25% {
    transform: translateX(-8px);
  }
  50% {
    transform: translateX(-6px);
  }
  75% {
    transform: translateX(-8px);
  }
}
.int-area input:focus + label,
.int-area input:valid + label {
  top: -60px;
  font-size: 13px;
  color: #81d4fa;
}

.agree-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.agree-column {
  display: flex;
  flex-direction: column;
}

.checkbox-container {
  margin-top: -5px;
  margin-bottom: 40px;
}

.agree-terms {
  border: 1px solid #ccc;
  padding: 30px;
  max-width: 800px;
  background-color: #f7f7f7;
  overflow-y: auto; 
  max-height: 400px; 
  line-height: 1.6;
  color: #333;
  margin-right: 600px;
  margin-bottom: 0px;
  
}

.agreebtn {
            display: inline-block;
            padding: 10px 20px;
            font-size: 16px;
            text-align: center;
            text-decoration: none;
            background-color: #f0f0f0; 
            color: #333333; 
            border: 1px solid #cccccc; 
            border-radius: 4px;
            cursor: pointer;
        }

        .agreebtn:hover {
            background-color: #e0e0e0; 
        }

        .agreebtn:active {
            background-color: #d0d0d0; 
        }

.width30{
  width: 100px;
}

/* 유효성 검사 문구 스타일 */
.confirm{ color: #99e1ed; }
.error{ color: #ee6a7b;}

/* 인증 입력 칸 스타일 */
.auth-input-area{
  width: 350px;
}

/* 인증 번호 시간 */
#smsTimer{
  color: #99e1ed;
  height: 18px;
}

.signUp-last-btn{
  margin-top: -20px;
  margin-bottom: 80px;
}

.signUp-main-title2{
  text-align: center;
  font-size: 30px !important;
  font-weight: 600;
  margin-bottom: -20px;
}

.check-all{
  color: #99e1ed;
}