* {
    box-sizing: border-box;
    /* border: 1px solid black; */
}

#main-container{
    margin: 100px 400px;
    height: auto;

    width: 1000px;

    display: flex;
}


/* 마이페이지 상단 제목 영역 */
#right-content-area{
    width: 75%;
}

#title-area{
    padding-bottom: 10px;
    border-bottom: 2px solid #ddd;
}

/* 마이페이지 우측 메인 내용 영역 */
#main-content-area{
    height: auto;
}

#main-content-area > div:first-of-type{
    margin-top: 15px;
    margin-bottom: 25px;

    font-weight: bold;
    font-size: 30px;
}

/* 뱃지 영역 */
.notAchieved{
    color: #ddd;
    filter: grayscale(1);
}

#badge-area{
    display: grid;
    grid-template-columns: 130px 130px 130px;
    row-gap: 120px;
    column-gap: 120px;

    justify-content: center;

    height: auto;
}

.badge{
    margin-top: 30px;
    margin-bottom: 20px;
    width: 180px;
    height: 180px;

    text-align: center;
}

.badge:hover{
    transform: scale(1.05);
    transition-duration: 0.5s;
}

.badgeImg > img{
    width: 100%;
    height: 100%
}

.badgeTitle{
    margin: 10px 0;
    font-size: 25px;
    font-weight: bold;
}

.badgeContent{
    margin-bottom: 5px;
    font-size: 15px;
}

.badgeDate{
    font-size: 18px;
    color: rgba(52, 196, 219, 0.5);
}

/* 뱃지 수 카운트 영역 */
#badge-count-area{
    margin-top: 170px;

    display: flex;
    justify-content: center;
}

#badge-count-area > div:first-of-type > div:first-of-type {
    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;

    background-color: rgba(52, 196, 219, 0.5);
    color: white;

    border-radius: 50%;

    width: 150px;
    height: 150px;

    position: relative;
    left: 80px;
}

.badgeCount{
    font-weight: bold;
    font-size: 40px;

    margin-bottom: 10px;
}

#badge-count-area > div:first-of-type > div:nth-of-type(2){
    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;

    position: relative;
    left: 30px;

    margin-top: 35px;
    font-size: 20px;

    line-height: 30px;
}

#badge-count-area > div:first-of-type > div:nth-of-type(2) a{
    text-decoration: none;
    color: #797979;

    background: linear-gradient(to top, rgba(52, 197, 219, 0.349) 50%, transparent 50%);
}

#badge-count-area > div:first-of-type > div:nth-of-type(2) a:hover{
    transform: scale(1.05);
    transition-duration: 0.5s;
}