* {
    box-sizing: border-box;
    /* border: 1px solid black; */
}

#main-container{
    margin: 100px 400px;
    height: auto;

    width: 1000px;

    display: flex;
}


/* 마이페이지 상단 제목 영역 */
#right-content-area{
    width: 75%;
}

#title-area{
    padding-bottom: 10px;
    border-bottom: 2px solid #ddd;
}

/* 마이페이지 우측 메인 내용 영역 */
#main-content-area{
    margin: auto;
    margin-top: 60px;
}

#board-area-middle{
    margin: 20px 0;

    display: grid;
    grid-template-columns: 160px 160px 160px;
    grid-template-rows: 270px 270px 270px;
    row-gap: 50px;
    column-gap: 90px;

    justify-content: center;
}

/* 게시글 썸네일 */
.no-board-list{
    text-align: center;
    width: 900px;
    min-width: 900px;
    margin: auto;
}

.thumbnail{
    width: 180px;
    height: 260px;
    border: 1px solid #ddd;
    border-radius: 5px;
    
    background-color: white;

    cursor: pointer;
}

.thumbnail:hover{
    transform: scale(1.05);
    transition-duration: 0.5s;
}

.board-link{
    text-decoration: none;
    color: #797979;
}

.thumbnail > div:first-of-type{
    height: 60%;

    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px 5px 0 0;

    background-color: #797979;
}

#default-logo{
    width: 100%;
    height: auto;
}

.thumbnail > div:first-of-type> img{
    width: 100% !important;
    height: 100% !important;

    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.thumbnail > div:nth-of-type(2){
    height: 40%;
    padding: 10px;

    border-radius: 0 0 5px 5px;
}

/* 게시글 제목 */
.title{
    font-size: 16px;

    /* 길어지면 말줄임 처리 */
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

/* 게시글 작성일, 좋아요 영역 */
.createDate-area{
    display: flex;
    justify-content: space-between;

    font-size: 13px;

    margin-top: 10px;
}

/* 게시글 작성자 프로필 영역 */
.profile-like-container{
    display: flex;
}

.profile-area{
    display: flex;
    align-items: center;
    margin-top: 10px;

    width: 60%;
}

.profileArea > img{
    width: 30px;
    border-radius: 50%;
}

/* 닉네임 영역 */
.nicknameArea{
    width: 80px;
    font-size: 13px;
    margin-left: 5px;
}

/* 좋아요 영역 */
.likeArea{
    display: flex;
    justify-content: center;
    align-items: center;

    margin-left: 40px;
    margin-top: 10px;
    
    font-size: 13px;
}

/* 페이지네이션 영역 */
#pagination-area{
    height: 100px;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.pagination {
    display: inline-block;
    list-style: none;
    padding: 0;
    margin: 0;
}

.pagination li {
    display: inline;
    margin: 0 5px;
}

.pagination li a {
    text-decoration: none;
    padding: 5px 10px;
    background-color: #e6e6e6;
    color: #000;
    transition: background-color 0.3s, color 0.3s;
    border-radius: 10px;
    /* 버튼 둥글게 만듦 */
}

.pagination li a.current {
    background-color: #99E1ED;
    color: #fff;
}

.pagination li a:hover {
    background-color: #99E1ED;
    color: #fff;
}