* {
    box-sizing: border-box;
    /* border: 1px solid black; */
}

#main-container{
    margin: 100px 400px;
    height: auto;

    width: 1000px;

    display: flex;
}


/* 마이페이지 상단 제목 영역 */
#right-content-area{
    width: 75%;
}

#title-area{
    padding-bottom: 10px;
    border-bottom: 2px solid #ddd;
    margin-bottom: 10px;
}

/* 마이페이지 우측 메인 내용 영역 */

/* 일대일 문의글 목록 조회 테이블 */
#inquiry-list{
    width: 750px;
    height: auto;

    text-align: center;
    border-collapse: collapse;

    overflow: auto;
    table-layout: fixed;
}

th, td{
    border-bottom: 1px solid #ddd;
    white-space: nowrap;
}

.theadColor{
    height: 45px;
    background-color: #99E1ED;
    color: white;
}

.tr{
    height: 45px;
}

.answer{
    color: #50cbe0;
    font-weight: bold;
}