.main-css{
  width: 1000px;
  margin: 100px 400px;
  height: auto;
  display: flex;
  justify-content: space-between;
}

.center-css{
  padding-top: 10%;
  font-size: large;
  padding-right: 150px;
}


input {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  margin: 5px 30px;
}

