#list{
  width:1000px;
  margin:100px 400px;
  height: auto;
  display: flex;
  }
  button{
    color: gray;
  }
  #UserTable {
    border-collapse: collapse;
    width: 700px;
  }
  #UserTable .makeOutLine {
    border-bottom: 1px solid rgba(52, 196, 219, 0.5);
    color: white;
    padding: 30px;
    width: 110px;
  }
  #UserTable .makeOutLine2{
   border-bottom: 1px solid rgba(52, 196, 219, 0.5);
  }
  #UserInfoChangeH3{
  font-size:30px;
  }
  .firstBox{
  background-color:rgba(52, 196, 219, 0.5);
  padding-right: 18px;
  }
  .aboutUserInfoEdit{
  padding:10px;
  border:1px solid rgba(52, 196, 219, 0.5);
  border-radius: 3px;
  }
  .aboutUserInfoEdit:focus{
  outline:1px solid rgba(52, 196, 219, 0.5);
  }
  #updateUserInfo{
  background-color:rgba(52, 196, 219, 0.5);
  border:1px solid rgba(52, 196, 219, 0.5);
  color: white;
  padding: 8px 16px;
  border-radius: 5px;
  font-family: 'NanumSquareNeo-Variable';
  }
  #updateUserInfo:active{
  background-color:rgba(52, 196, 219, 0.5);
  }
  .updateUserInfo{
   text-align:center;
  padding-bottom:200px;
  }
  .birth{
  width:100px;
  }
  #userInfoMonth{
  width:120px;
  }
  .changePW{
  padding-left:30px;
  font-size:15px;
  }
  #newPw{
  margin-left:77px;
  margin-top:15px;
  margin-bottom:10px;
  }
  #newPwConfirm{
  margin-left:35px;
  margin-bottom:15px;
  }
  #PWFail{
  color:red;
  padding-left:10px;
  }
  .editTel{
  width:80px;
  }
  #PWFailchange{
  opacity:0%;
  }

  #title-area{
    padding-bottom: 10px;
    border-bottom: 2px solid #ddd;
}

#right-content-area{
    width: 75%;
}

#memberTel{
  width: 200px;
}

/* 삭제버튼 */
form[name='myPageFrm']{position: relative;}

#deleteImage{
  margin-top: -170px;
  margin-left: 400px;
  position:  absolute;
  cursor: pointer;
}

.profile-btn-area{
  width: 230px;
  margin: 20px 0;

  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 43%;
}

p{
  color: gray;
}

.profile-btn-area > *{
  width: 110px;
  height: 33px;
  border-radius: 30px;
  padding: 5px 5px;


  border: 1px solid rgba(52, 196, 219, 0.5);
  background-color: white;
  font-size: 12px;
  cursor: pointer;
  text-align: center;
}

#imageInput{ display: none;}


.myPageProfile2{
  border-radius: 50%;
  border: 2px solid rgba(52, 196, 219, 0.5);

  margin-top: 5%;
  margin-left: 255px;
  width: 170px;
  height: 170px;

  justify-content: center;
  align-items: center;
}

.myPageProfile2 img{
  width: 100%;
  height: 100%;

  border-radius: 50%;
}

.myPageProfile img{
  display: none;
}

.myPageProfile{
  border-color: #00ff0000;
}