#list{
  width:1000px;
  margin:100px 400px;
  height: auto;
  display: flex;
  }
  #UserTable {
    border-collapse: collapse;
    width: 700px;
  }
  #UserTable .makeOutLine {
    border-bottom: 1px solid rgba(52, 196, 219, 0.5);
    color: white;
    padding: 30px;
    width: 100px;
  }
  #UserTable .makeOutLine2{
   border-bottom: 1px solid rgba(52, 196, 219, 0.5);
  }
  #UserInfoChangeH3{
  font-size:30px;
  }
  .firstBox{
  background-color:rgba(52, 196, 219, 0.5);
  padding-right: 18px;
  }
  .aboutUserInfoEdit{
  padding:10px;
  border:1px solid rgba(52, 196, 219, 0.5);
  border-radius: 3px;
  }
  .aboutUserInfoEdit:focus{
  background-color:rgba(52, 196, 219, 0.5);
  outline:1px solid rgba(52, 196, 219, 0.5);
  }
  #updateUserInfo{
  background-color:rgba(52, 196, 219, 0.5);
  border:1px solid rgba(52, 196, 219, 0.5);
  color: white;
  padding: 8px 16px;
  border-radius: 5px;
  font-family: 'NanumSquareNeo-Variable';
  }
  #updateUserInfo:active{
  background-color:rgba(52, 196, 219, 0.5);
  }
  .updateUserInfo{
   text-align:center;
  padding-bottom:200px;
  }
  .birth{
  width:100px;
  }
  #userInfoMonth{
  width:120px;
  }
  .changePW{
  padding-left:30px;
  font-size:15px;
  }
  #NewPW{
  margin-left:77px;
  margin-top:15px;
  margin-bottom:10px;
  }
  #reNewPW{
  margin-left:30px;
  margin-bottom:15px;
  }
  #PWFail{
  color:red;
  padding-left:10px;
  }
  .editTel{
  width:80px;
  }
  #PWFailchange{
  opacity:0%;
  }

  #title-area{
    padding-bottom: 10px;
    border-bottom: 2px solid #ddd;
}

#right-content-area{
    width: 75%;
}