* {
    box-sizing: border-box;
}

.place{
    height: 100px;
}

#main-container{
	width: 1000px;
    margin: auto;
}

.board-title{
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 15px;
    color: #797979;
}

#title-area > div:nth-of-type(2){
    padding-bottom: 20px;
    border-bottom: 2px solid #ddd;

    font-size: 17px;
    font-weight: 900;
    color: #797979;
}

/* 게시글 작성 영역 */
#middle-area{
    margin: auto;
    margin-bottom: 26px;
    height: auto;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* 게시글 제목 영역 */
#title-middle-area{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0;
    height: 40px;
    width: 100%;
}
#title-textArea{
    height: 40px;
    width: 80%;

    font-size: 20px;

    padding-top: 4px;
    padding-left: 10px;
    padding-right: 10px;

    resize: none;

    outline: none;

    /* background-color:transparent; */
    border: 2px solid #ddd;
    border-radius: 5px;

    overflow: hidden;
}
#title-textArea:focus{
    border: 2px solid #99E1ED;
}

#write-form{
    width: 100%;
    margin: auto;
}

/* 태그 선택 영역 */
#tagSelect{
    height: 40px;
    width: 15%;
    border: 2px solid #ddd;
    border-radius: 5px;
    padding-left: 22px;
    font-size: 18px;
    font-weight: 400;
    color: gray;
}
#tagSelect:focus{
    border: 2px solid #99E1ED;
}

/* 버튼 영역 */
#button-area{
    text-align: center;
    margin: 10px;
}

#button-area > button{
    font-size: 15px;

    width: 70px;
    height: 30px;
    margin: 0 5px;

    cursor: pointer;

    background-color: #99E1ED;
    color: white;

    border: none;
    border-radius: 7px;
    outline: none;

    transition: 800ms;
}

#button-area > button:hover{
    background-color: white;
    color: #99E1ED;

    border: 1px solid #99E1ED;
}

