* {
    box-sizing: border-box;
}

.place{
    height: 100px;
}

#main-container{
	width: 1000px;
	height: auto;
    margin: auto;
}

.board-title{
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 15px;
}

#title-area > div:nth-of-type(2){
    padding-bottom: 10px;
    border-bottom: 2px solid #ddd;
}

/* 검색창, 조회 정렬 버튼 영역 */
#search-area{
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
}

/* 검색창 스타일 */
.search-place input[type="search"] {
    width: 300px;
    height: 50px;
    padding: 10px;
    font-size: 16px;
    background-color: #f5f5f5;
    border: none;
    border-radius: 10px;
    outline: none;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s, box-shadow 0.3s;
}

.search-place input[type="search"]:hover,
.search-place input[type="search"]:focus {
    background-color: #99E1ED;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

#search-button{
    width: 50px;
    height: 50px;
    border-radius: 10px;
    padding: 0;
    font-size: 16px;
    color: #fff;
    border: none;
    background-color: #ccc;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    outline: none;
}

#search-button:hover{
    cursor: pointer;
}

#sort-btn-area{
    display: flex;
    align-items: center;
}

#sort-btn-area a{
    font-size: 16px;
    margin: 0 5px;

    text-decoration: none;
    color: #797979;
}

#sort-btn-area span:hover{
    color: #99E1ED;
    font-weight: bold;
    cursor: pointer;
}

/* 해시태그 영역 */
.hashTag-area{
    display: flex;
}

.hashTag-area div{
    width: auto;
    height: 50px;
    background-color: #99e1ed;

    margin: 0 7px;
    padding: 5px 20px;

    color: white;
    font-size: 18px;

    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 20px;

    cursor: pointer;
}

.hashTag-area div:hover{
    transform: scale(1.05);
    transition-duration: 0.5s;
}


.hashTag-area .fa-solid{
    display: none;
}

.hashTag-area div:hover .fa-solid{
    display: inline;
    transform: scale(1.05);
}

.fa-circle-xmark{
    font-size: 13px;
    margin-left: 5px;
}

/* 게시글 썸네일 영역*/
#list-area{
    margin-top: 70px;

    display: grid;
    grid-template-columns: 250px 250px 250px;
    grid-template-rows: 330px 330px 330px;
    row-gap: 70px;
    column-gap: 120px;

    justify-content: center;
}

.no-board-list{
    text-align: center;
    width: 900px;
    min-width: 900px;
    margin: auto;
}

.thumbnail{
    border: 1px solid #ddd;
    
    background-color: white;
    border-radius: 5px;
    cursor: pointer;
}

.thumbnail:hover{
    transform: scale(1.05);
    transition-duration: 0.5s;
}
.thumbnail > a {
    text-decoration: none;
    color: #797979;
}
.thumbnail  >a> div:first-of-type{
    height: 60%;

    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px 5px 0 0;

    background-color: #797979;

}

#default-logo{
    width: 100% !important;
}

.thumbnail >a> div:first-of-type img {
    width: 100% !important;
    height: 100% !important;

    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.thumbnail >a> div:nth-of-type(2){
    height: 40%;
    padding: 10px;
}

/* 게시글 제목 */
.title{
    font-size: 20px;

    /* 길어지면 말줄임 처리 */
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

/* 게시글 작성일, 좋아요 영역 */
.createDate-area{
    display: flex;
    justify-content: space-between;

    margin-top: 10px;
}

/* 게시글 작성자 프로필 영역 */
.profile-area{
    margin-top: 20px;
    display: flex;
    align-items: center;
}

.profileArea > img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

/* 닉네임 영역 */
.profile-area > div:nth-of-type(2){
    width: 200px;
    margin-left: 5px;
}

/* 좋아요 영역 */
.profile-area > div:nth-of-type(3){
    margin-left: 90px;
    width: 80px;
}

/* 글쓰기 버튼 영역 */
.write-btn-area{
    margin: auto;
    
    display: flex;
    justify-content: end;
}
#writeBtn{
    padding: 5px 10px;
    margin: 5px;
    margin-top: 50px;

    background-color: #99E1ED;
    border: 1px solid #99E1ED;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    color: white;

    cursor: pointer;
}
#writeBtn:hover{
    background-color: inherit;
    color: #99E1ED;
}
#writeBtn:active{
    transform: scale(0.90);
}

/* 페이지네이션 영역 */
.paginationArea{
    height: 100px;
    
    display: flex;
    justify-content: center;
    align-items: center;

    margin-top: 40px;
}



.pagination-area {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 80px;
    position :relative;
    /* left : 330px; */
    border: none !important;
}

.pagination {
    display: inline-block;
    list-style: none;
    padding: 0;
    margin: 0;
}

.pagination li {
    display: inline;
    margin: 0 5px;
}

.pagination li a {
    text-decoration: none;
    padding: 5px 10px;
    background-color: #e6e6e6;
    color: #000;
    transition: background-color 0.3s, color 0.3s;
    border-radius: 10px;
    /* 버튼 둥글게 만듦 */
}

.pagination li a.current {
    background-color: #99E1ED;
    color: #fff;
}

.pagination li a:hover {
    background-color: #99E1ED;
    color: #fff;
}


/* 광고 */
.slider__wrap {
    width: 100%;
    margin-top: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.slider__img {  /* 이미지가 보이는 영역 */
    position: relative;
    width: 880px;
    height: 164px;
    border-radius: 10px;
    overflow: hidden;
}
.slider__inner {    /* 이미지 움직이는 영역 */
    display: flex;
    flex-wrap: wrap;
    width: 4800px;  /* 총 이미지 영역 */
    height: 200px;
}
.slider {   /* 개별적인 이미지 */
    position: relative;
    width: 880px;
    height: 164px;
    
}

/* 광고 */
.slider__wrap {
    width: 100%;
    margin-top: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.slider__img {  /* 이미지가 보이는 영역 */
    position: relative;
    width: 880px;
    height: 164px;
    border-radius: 10px;
    overflow: hidden;
}
.slider__inner {    /* 이미지 움직이는 영역 */
    display: flex;
    flex-wrap: wrap;
    width: 4800px;  /* 총 이미지 영역 */
    height: 200px;
}
.slider {   /* 개별적인 이미지 */
    position: relative;
    width: 880px;
    height: 164px;
    
}

