*{
    box-sizing: border-box;
    /* border: 1px solid black;  */
}



main{
    height: 100%;
    min-width: 1000px;
}

.adminBody{

    min-width: 1000px;
    min-height: 800px;

    display: flex;
}

.adminBody2{
    display: flex;
    margin: auto;

    height: 100%;
    min-height: 800px;
    min-width: 1200px;

}

.adminSide{
    margin: auto;
    text-align: center;
   
}

.userList{
    margin: auto;
}

.adminImg{
    width: 200px;
    border-radius: 50%;
    height: 200px;
    display: flex;
    justify-content: center;
    overflow: hidden;

    border: 2px solid black;
}

#fristSide{
    display: flex;
    flex-direction: column;

    justify-content: space-around;
    height: 250px;
    font-weight: bolder;
}




.sideList{
    height: 60px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    border-bottom: 2px solid gray;
}

#inquiry-sideList{
    background-color: #99E1ED;
    color: white;
    
}

.sideList:hover{
    
    background-color: #99E1ED;
    color: white;
    cursor: pointer;
    font-weight: bold;
}


.complete{
    color: #99E1ED;
}




/* -------------- */



a{
    text-decoration: none;
    color: black;
}

a:hover{
    
    color:  #99E1ED;
}

.Jbody{
    margin: auto;
    display: flex;
    justify-content: center;
}

.Jcenter{
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

table{
    width: 750px;
    border-collapse: collapse;
}

th{
    background-color: darkgray;
    height: 30px;
}

td{
    text-align: center;
    border-bottom: 1px solid grey;
    height: 50px;
}


.Jhead{
    width: 752px;
    display: flex;
    justify-content: center;
}


.fa-solid{
    margin-right: -434px;
}

#division{
    font-weight: bold;
    cursor: pointer;
    width: 100px;
    height: 30px;
    border-radius: 5px;
}
.userSearch{
    width: 752px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.userSearch > input {

    width: 180px;
    height: 35px;
    border: 0.5px solid gray;
    border-radius: 1px;
    border-left: none;
    outline: none;
}

.userSearch > button {

    border-radius: 1px;
    border: 0.5px solid gray;
    border-right: none;
    height: 35px;
    width: 35px;
    
}


.userSearch > button:hover{
    
    cursor: pointer;
}

#iqWrite{

    background-color: #99E1ED;
    color: white;
    width: 60px;
    height: 25px;
    margin:  -50px;
    border-radius: 3px;

    cursor: pointer;
    border: none;
}


/* 검색창, 조회 정렬 버튼 영역 */

.search-place{
    width: 652px;
    display: flex;
    justify-content: right;
    align-items: center;
    height: 50px;
}

#search-area{
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
}

/* 검색창 스타일 */
.search-place input[type="search"] {
    width: 250px;
    height: 35px;
    padding: 10px;
    font-size: 16px;
    background-color: #f5f5f5;
    border: none;
    border-radius: 10px;
    outline: none;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s, box-shadow 0.3s;
    margin-right: 5px;
}

.search-place input[type="search"]:hover,
.search-place input[type="search"]:focus {
    background-color: #99E1ED;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

#search-button{
    width: 35px;
    height: 35px;
    border-radius: 10px;
    padding: 0;
    font-size: 16px;
    color: #fff;
    border: none;
    background-color: #ccc;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    outline: none;
}

#search-button:hover{
    cursor: pointer;
}





