*{
    box-sizing: border-box;
}
body{
    /*font-family: 'Raleway', sans-serif!important;*/
    background-color: #fff !important;
}
.bigCon{
    width: 770px;
    margin-left: auto;
    margin-right: auto;
    /*background-color: #fdd2d9;*/
    margin-bottom: 50px;
    min-height: 65vh;
}
.total{
    margin-bottom: 3.5rem;
    font-size: 1.5rem;
    line-height: 1.5;
    color: #495057;
    /*background-color: red;*/
}
.total b{
    color : #212529;
}
.resultCon{
    /* border-top: 1px solid #f1f3f5 */
    padding-top: 4rem;
    border-bottom: 1px solid black;
    padding-bottom: 4rem;
    line-height: 1.5;
}

a{
    text-decoration: none;
}
.user-info{
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    margin-bottom: 1.5rem;
}
.user-info img{
    width: 3rem;
    height: 3rem;
    display: block;
    margin-right: 1rem;
    /*background: var(--bg-element2);*/
    object-fit: cover;
    border-radius: 1.5rem;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 8px;
}
.username a{
    font-size: 1.1rem;
    color : #212529;
    font-weight: bold;
}
.boardName{
    display: flex;
}
.detail{
}
.detail {
    margin-right: 10px;
    display: inline-block;
    padding: 5px 10px;
    /*background-color: #f2f2f2;*/
    /*color: #333;*/
    background-color: #078dd3;
    color: #fff;
    border-radius: 20px;
    font-size: 1.3em;
    text-decoration: none;
    cursor: pointer;
}
.unselected-board {
    margin-right: 10px;
    display: inline-block;
    padding: 5px 10px;
    background-color: #fff;
    border: 1px solid #078dd3;
    color: #078dd3;
    border-radius: 20px;
    font-size: 1.3em;
    text-decoration: none;
    cursor: pointer;
}
.hashtag-detail:hover {
    background-color: #e6e6e6; /* 마우스 오버 시 배경색을 조금 더 어둡게 */
}

.thumb{
    /* position: absolute; */
    border: 1px solid black;
    width: 100% !important;
    height: 35%;
    display: block;
    object-fit: cover;
}
.imgCon{
    margin-bottom: 1rem;
    /*padding-top: 10%;*/
}
h2{
    font-size: 1.6rem;
    font-weight: bold;
    color: #212529;
    margin: 0px;
    line-height: 1.5;
    /*color: var(--text1);*/
}
.contentP{
    /*margin-bottom: 2rem;*/
    /*margin-top: 0.5rem;*/
    /*font-size: 1.2rem;*/
    /*word-break: keep-all;*/
    /*overflow-wrap: break-word;*/
    /*color: #495057;*/
}
.contentDiv{
    margin-bottom: 2rem;
    margin-top: 0.5rem;
    font-size: 1.2rem;
    word-break: keep-all;
    overflow-wrap: break-word;
    color: #495057;
}
.subinfo{
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    margin-top: 1rem;
    font-size: 0.875rem;
}
.separator{
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}
span{
    color: #868e96;
    line-height: 1.5;
    font-size: 1.1rem;
}
.heart{
    display: flex;
    -webkit-box-align: center;
    align-items: center;
}
svg{
    width: 0.875rem;
    height: 0.875rem;
    margin-right: 0.25rem;
}
.place1{
    height: 60vh;
}
.place{
    height: 100px;
}
.searchCon{
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    transition: all 0.125s ease-in 0s;
    border: 1px solid #343a40;
    cursor: text;
    height: 5rem;
    padding: 0px 1.5rem;
    margin-bottom: 20px;
}
.searchCon svg{
    width: 1.5rem;
    height: 1.5rem;
    margin-right: 1.25rem;
}
#searchAll{
    font-size: 1.5rem;
    line-height: 2rem;
    height: 2rem;
    padding: 0px;
    border: none;
    outline: 0px;
    background: transparent;
    display: block;
}
#searchSvg{
    width: 200px !important;
    height: 150px !important;
}
.pull {
    position: relative;
    width: 450px;
    height: 250px;
    padding: 20px;
    color: #FFF;
    border-radius: 10px;
    background-color: #477A7B;
    text-align: center;
    margin: 0 auto;
}

.pull:after {
    content: "";
    position: absolute;
    top: 50%;
    right: -20px;
    margin-top: -10px;
    border-left: 20px solid #477A7B;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
}
.pull-text{
    font-family: 'Montserrat','Nanum Gothic',sans-serif;
    font-size: 1.7em;
}
.box {
    /*height: 58vh;*/
    /*background-color: #faf9f3;*/
}

.product-list{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 40px;
    gap: 10px;
}

.product-item {
    border: 1px solid #ddd;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    width: 250px;
}

.product-image img {
    width: 100%;
    height: auto;
    display: block;
    margin-bottom: 10px;
}

.product-details {
    text-align: center;
}

.product-name {
    font-size: 1.1em;
    font-weight: bold;
    margin-bottom: 5px;
}
.product-item a {
    color: #3c3b3b;
    text-decoration: none;
    font-size: 1.1em;
    font-weight: bold;
    margin-bottom: 5px;
}
.product-content {
    font-size: 1.1em;
    color: #666;
}

/*.product-item {*/
/*    display: flex;*/
/*    flex-direction: row;*/
/*    flex-wrap: wrap;*/
/*    margin-top: 40px;*/
/*    gap: 10px;*/
/*    border: 1px solid #ddd;*/
/*    padding: 10px;*/
/*    box-shadow: 0 0 10px rgba(0,0,0,0.1);*/
/*    width: 250px;*/
/*}*/

/*.product-image img {*/
/*    width: 100%;*/
/*    height: auto;*/
/*    display: block;*/
/*    margin-bottom: 10px;*/
/*}*/

/*.product-details {*/
/*    text-align: center;*/
/*}*/

/*.product-name {*/
/*    font-size: 1.1em;*/
/*    font-weight: bold;*/
/*    margin-bottom: 5px;*/
/*}*/

/*.product-item a {*/
/*    color: #3c3b3b;*/
/*    text-decoration: none;*/
/*    font-size: 1.1em;*/
/*    font-weight: bold;*/
/*    margin-bottom: 5px;*/
/*}*/

/*.product-content {*/
/*    font-size: 1.1em;*/
/*    color: #666;*/
/*}*/
/*.product-details{*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    justify-content: center;*/
/*    align-items: center;*/
/*}*/
#show-all {
    margin-right: 10px;
    display: inline-block;
    padding: 5px 10px;
    background-color: #fff;
    border: 1px solid #078dd3;
    color: #078dd3;
    border-radius: 20px;
    font-size: 1.3em;
    text-decoration: none;
    cursor: pointer;
    display: none;
}
.nav{
    margin-top: 30px;
    color: #3c3b3b;
}