@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

/* * {
    border: 1px solid black;
} */

*{
    box-sizing: border-box;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
   -webkit-text-fill-color: #000;
    -webkit-box-shadow: 0 0 0px 1000px #fff inset;
    box-shadow: 0 0 0px 1000px #fff inset;
    transition: background-color 5000s ease-in-out 0s;
}

input:autofill,
input:autofill:hover,
input:autofill:focus,
input:autofill:active {
   -webkit-text-fill-color: #000;
    -webkit-box-shadow: 0 0 0px 1000px #fff inset;
    box-shadow: 0 0 0px 1000px #fff inset;
    transition: background-color 5000s ease-in-out 0s;
}
/* 전체 글꼴 */
*{
    font-family: 'Pretendard-Regular';
}
/* main 스타일 */
html, body{
    background-color: #F8F9FA;
	font-size: 14px;
	color: #797979;
	width: 100%;
	padding: 0;
    margin: 0;
	margin-left: 0;
	margin-right: 0;
	font-weight: 400;
	width: 100%;
	font-family: 'Raleway', sans-serif;
}

.mian-content{
    width: 100%;
    overflow: hidden;
    display: flex;
}

/*헤더 스타일***************************************************/





.header-nav{

    /* position: fixed;
    
    display: block; 
    width: 100%;
    margin-bottom: 0;
    border-radius: 0px;
    
    border: none;
    border-bottom: solid 1px #e0e0e0;
    z-index: 9;
    padding: 0.5rem 1rem; */

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: white;
    z-index: 9;
    padding: 0.5rem 1rem;
    /* border-bottom: 1px solid #e0e0e0; */
}


.nav-sticky{
    position: sticky;
    top : 0;
    z-index: 9;
    /* background-color: #797979; */
}
.nav-padding{
    padding-top: 111px;
}
/*  검색영역(돋보기 버튼 눌렀을 때) */
.top-search{
    background-color: #333;
    padding: 10px 0;
    display: none;
}
.dispaly-none{
    display: none;
}

.search-container{
    position: relative;
    /* max-width: 1140px; */

    margin-right: auto;
    margin-left: auto;
    padding-right: 15px;
    padding-left: 15px;
    width: 100%;

}
.input-group{
    position: relative;
    display: flex;
    width: 100%;
}
.search-icon-area{
    background-color: transparent;
    border: none;
    color: #fff;
    padding-left: 0;
    padding-right: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    padding: 0.5rem 0.75rem;
    margin-bottom: 0;
    font-size: 1rem;
    font-weight: normal;
    line-height: 1.25;
    text-align: center;
    border-radius: 0.25rem;
    /* white-space: nowrap; */
    vertical-align: middle;
    display: flex;
    align-items:  center;
}

.form-search{
    border-radius: 0;
    background-color: transparent;
    border: none;
    box-sizing: 0px;
    color: #fff;
    height: 40px;
    padding: 0 15px;
    display: flex;
    align-items: center;
    position: relative;
    z-index: 2;
    flex: 1 1 auto;
    width: 1%;
    margin-bottom: 0;
    outline: none;
    font-size:  1rem;
    line-height: 1.25;
    background-image: none;
    background-clip: padding-box;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    overflow: visible;
    margin: 0;
    font-family: inherit;
    touch-action: manipulation;

}
.close-search i{
    color: #fff;
}

/* 헤더 nav 영역 */
.nav-container{
    position: relative;
    /* flex-wrap: nowrap; */
    display: flex;
    align-items: center;
    justify-content: space-between;
   
    /* max-width: 1140px; */
    width: 1500px;
    padding: 5px 15px 5px 15px;
    margin-left: auto;
    margin-right: auto;
  
   
    /* width: 100%; */

    box-sizing: 0;

    /* background-color: #fff; */

}



.no-background{
    -ms-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;

	background-color: transparent;
    border: none;
}
.nav-container-bg{
    transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;

    background-color: #797979;
}




/* 장바구니 검색 로그인 */
.nav-icon{
    position: absolute;
    right: 5%;
    top: auto;
    margin-top: 0px;
   
    display: inline-block;
    /* margin-left: 13px; */
    /* margin-right: -15px; */
}
.nav-icon > ul {
    padding: 0;
    /* margin: 0 0 -7px 0; */
    list-style: none;
    display: inline-block;
   
}

.nav-icon > ul > li {
    float: left;
    display: block;
}
.nav-icon > ul > li >a{
    color: #99E1ED;
    display: block;
    padding: 28px 15px;
    position: relative;
    transition: 0.3s ease-in-out;
    text-decoration: none;
    outline: none;
    background-color: transparent;
    font-size: 20px;

}
.fa{
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.login-icon{
    font-weight: bold;
}
.nav-icon > ul > li >a span.shopping-count{
    background-color: #777;
    border-radius: 50%;
    margin-right: -4px;

    position: absolute;
    top: 50%;
    margin-top: -15px;
    right: 5px;
    font-size: 10px;
    padding: 0;
    width: 15px;
    height: 15px;
    padding-top: 2px;

    display: inline-block;
    font-weight: bold;
    line-height: 1;
    color: #fff;
    /* white-space: nowrap; */
    vertical-align: baseline;
    vertical-align: baseline;

    text-align: center;

}

.log-image{
    color: rgb(0, 0, 0, 0.9);
    display: inline-block;
    padding-top: 0.3125rem;
    padding-bottom: 0.3125rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    line-height: inherit;
    /* white-space: nowrap; */
    transition: 0.3s ease-in-out;
    text-decoration: none;
    outline: none;
    touch-action: manipulation;
    background-color: transparent;
}
.log-disply{
    display: none;
}
.m-top-10{
    margin-top: 10px;
}
.log{
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    -user-select: none;
    -webkit-user-drag: none;
    -user-drag: none;

    vertical-align: middle;
    border-style: none;

    width: 250px;
}
.collapse{
    display: flex !important;
    flex-basis: 100%;
    align-ltems: center;
}
.nav-list{
    flex-direction: row;
    display: flex;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    /* flex-wrap: wrap; */
    margin: 0;
    padding: 0;
}
.nav-list > li {
    display: list-item;
    margin-right: 20px;
    
}

/* .nav-list > li:hover {
 background-color: #99E1ED;
 transition-duration: 1s;
} */
.nav-list > li > a{
    padding: 30px 15px;
    
    font-weight: 600;
    font-size: 20px;
    color: #99E1ED;
    background-color: transparent !important;
    transition: 0.3s ease-in-out;
    text-decoration: none;
    outline: none;
    touch-action: manipulation;
}
.nav-list > li > a:hover{
    
    color: #FFFFFF;
    /* transition-duration: 1s; */

}



/* ************************************ */
/* 비디오 영역 관련 */
#hello {
    position: relative;
    background-size: cover;
    overflow: hidden;
}

#hello video {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: auto;
    min-width: 100%;
    min-height: 100%;
}

.hello-container {
    position: relative;
    width: 100%;
    padding-bottom: 56.25%;
}

.main-home {
    position: absolute;
    top: 50%;
    left: 30%;
    transform: translate(-50%, -50%);
    /* text-align: center; */
    z-index: 3;
}

.main-home h1 {
    color: #fff;
    font-family: 'Raleway', sans-serif;
    font-size: 4rem;
    font-weight: 700;
    line-height: 4rem;
    margin: 0;
}


.hello-BtnArea {
    width: 500px;
    height: 100px;
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    margin-top: 1rem;
}

.hello-BtnArea button {
    width: 230px;
    height: 70px;
    border: none;
    background-color: #99E1ED;
    cursor: pointer;
    font-size: 1.5rem;
}

.hello-BtnArea button:hover{
    transition-duration: 0.5s;
    width: 240px;
    height: 75px;
}







#middle-Container{
    margin: 0 250px;
    /* border:1px solid #777; */
}

/* --------------------------- Footer 시작 ---------------------------*/
footer{
    height: 120px;
    width: 100%;
    background-color: #212121;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #888888;
    
}
.footer-row{
    font-size: 18px;
    font-weight: 600;
}
footer i {
    padding: 0px 5px;
    color: #ff0000;
}
article{
    display: flex;
    font-size: 15px;
}
footer p{
    color: #9c9a9a;
    text-decoration: none;
}
footer span{
    padding : 0 10px;
}
.footer-row2{
    font-size: 12px;
}

/* ————————————— Footer 끝 —————————————*/

/* _______________middle-Container__________________ */
#schedule-area{
    height: 100%;
    display: flex;
    align-items: space-between;
    padding: 30px;
}

#schedule-area>div:nth-of-type(1){
    min-width: 700px;
    padding-left: 30px;
}

#schedule-area>div:nth-of-type(1) > h1{
    font-size: 2.5rem;
    margin-bottom: 15px;
    margin-top: 15px;
}
.progress{
    background-color: #e0e0e0;
    width: 80%;
    border-radius: 10px;
}
.progress-num{
    background-color: #99E1ED;
    height: 20px;
    border-radius: 10px;
}



/* 달력 */
#CalendarArea {
    background-color : white;
    height: auto;
    min-width: 550px;
    margin: 0px;
    padding: 20px;
    margin: 0 auto;
    border-radius:5px;
    box-shadow:0px 10px 20px 0px rgba(0,0,0,0.5);
}

td {
    width: 50px;
    height: 50px;
}

.Calendar {
    text-align: center;
    width: 90%;
    height: 500px;
    margin: auto;
}

.Calendar>thead>tr:first-child>td {
    font-family: 'Questrial', sans-serif;
    font-size: 1.7em;
    font-weight: bold;
}
.Calendar>thead>tr:last-child>td:nth-child(1),  .Calendar>thead>tr:last-child>td:nth-child(7){
    color: #F79DC2;
}


.calenderBtn{
    color:rgba(52, 196, 219, 0.5);
    font-size: 50px;
}

.Calendar>thead>tr:last-child>td {
    font-family: 'Questrial', sans-serif;
    font-weight: 600;  
    font-size: 1.5rem;   
}

.Calendar>tbody>tr>td>p {
    font-family: 'Montserrat', sans-serif;
    height: 35px;
    width: 35px;
    border-radius: 45px;
    transition-duration: .2s;
    line-height: 35px;
    margin: 2.5px;
    display: block;
    text-align: center;
    font-size: 1.5rem;
}        

.futureDay {
    color: lightgray;
}

.today {
    font-family: 'Montserrat', sans-serif;
    height: 45px;
    width: 45px;
    border-radius: 45px;
    transition-duration: .2s;
    line-height: 45px;
    margin: 2.5px;
    display: block;
    text-align: center;
}

.pastDay {
    background-color: #FFFFFF;
    cursor: pointer;
}
.pastDay:hover{
    background:#eee;
}

.pastDay.choiceDay,
.today.choiceDay {
    background:  rgba(52, 196, 219, 0.5);
    color: #fff;
    font-weight: 700;
    cursor: pointer;
}
.holiday{
    color:#F79DC2;
}
.triangle{
    color: #f1c40f;
    font-size: 30px;

}
.Circle{
    color: #ee4949;
} 

/* ____________________ToDoList시작______________________ */

.todolist-area{
    width: 80%;
    min-height: 500px;
    border: 30px solid #99E1ED;
    border-radius: 10px;
    margin: 10px 0;
    padding: 30px;
    background-color: #FFFFFF;
}
/* checkbox 박스  css*/
.check-area{
    display: flex;
    flex-direction: column;
    padding: 10px;
    align-items: center;
    height: 250px;
}
.ck{
    height: 20px;
    width: 20px;
    background-color: transparent;
    border: 2px solid #777;
    border-radius: 5px;
    box-sizing: border-box;
    position: relative;
    display: inline-block;
    transition: border-color ease 0.2s;
    cursor: pointer;
}

.ck::before, .ck::after {
  position: absolute;
  height: 0;
  width: 4px;
  background-color: #4285f4;
  box-sizing: border-box;
  display: inline-block;
  transform-origin: left top;
  border-radius: 5px;
  content: ' ';
  transition: opacity ease 0.5;
}
.ck::before {
  background-color: #4285f4;
}

.ck::before {
  top: 14.4px;
  left: 8.2px;
  box-shadow: 0 0 0 1px transparent;
  transform: rotate(-135deg);
}
.ck::after {
  top: 7.4px;
  left: 1px;
  transform: rotate(-45deg);
}

.todolist-area input:checked + .ck {
  border-color: #4285f4;
}

input[id="ck1"]:checked + .ck::after,
input[id="ck2"]:checked + .ck::after,
input[id="ck3"]:checked + .ck::after,
input[id="ck4"]:checked + .ck::after {
  height: 10px;
  animation: bottomcheck 0.2s ease 0s forwards;
}

input[id="ck1"]:checked + .ck::before,
input[id="ck2"]:checked + .ck::before,
input[id="ck3"]:checked + .ck::before,
input[id="ck4"]:checked + .ck::before {
  height: 24px;
  animation: topcheck 0.4s ease 0s forwards;
}
.none{
	display: none;
}
@keyframes bottomcheck {
  0% {
    height: 0;
  }
  100% {
    height: 10px;
  }
}
@keyframes topcheck {
  0% {
    height: 0;
  }
  50% {
    height: 0;
  }
  100% {
    height: 24px;
  }
}

.check-area > div{
    align-items: center;
    width: 90%;
    align-content: space-between;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.check-area > div > span{
    font-size: 16px;
    font-weight: bold;
    margin-left: 20px;
}

.todolist-area > h2{
    text-align: center;
    font-size: 2rem;
    margin-top: 0;
}
.todolist-area > hr{
    margin-bottom: 20px;
}

/* 투두리스트 버튼 영역 */
.tdl-btnArea{
    width: 70%;
    /* border: 1px solid black; */
    margin: auto;
    justify-content: space-between;
    display: flex;
}

.tdl-btnArea > a, .tdl-btnArea > a:visited {
    text-decoration: none;
    color: #00AE68;
    cursor: pointer;


    display: block;
    position: relative;
    float: left;
    width: 120px;
    padding: 0;
    margin: 10px 20px 10px 0;
    font-weight: 600;
    text-align: center;
    line-height: 50px;
    color: #FFF;
    border-radius: 5px;
    transition: all 0.2s ;

    background: #5DC8CD;

    box-shadow: 0px 5px 0px 0px #1E8185;
}

.btnPush:hover {
    margin-top: 15px;
    margin-bottom: 5px;
}

.btnLightBlue.btnPush:hover {
    box-shadow: 0px 0px 0px 0px #1E8185;
  }