* {
  box-sizing: border-box;
  position: relative;
/*    border: 1px solid black; */ 
}

*::-webkit-scrollbar {
  width: 10px;
}

*::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.2);
}

::-webkit-scrollbar-thumb {
  background: #5DC8CD; /* 스크롤바 막대 색상 */
  border-radius: 12px 12px 12px 12px;
}

main {
  background-color: ghostwhite; 
  /* opacity : 0.5; */
}

.popUp {
  position: fixed;
  margin: auto;
  margin-bottom: 40px;
  z-index: 1;
  background-color: #f5f5f5;
  border: 10px solid #5DC8CD;
  width: 600px;
  height: 900px;
  border-radius: 10px;
}

.popTitle{
  height: 40px;
  border-bottom: 5px solid #5DC8CD;
  font-weight: bold;
  font-size: 20px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.popContent{
  position: absolute;
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: auto;
  align-items: center;
  height: 840px;
}



.popList > li{
  font-size: 20px;
  font-weight: bold;
}


.svBody {
  margin: auto;
  min-width: 1000px;
  min-height: 880px;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sv1 {
  width: 600px;
  min-height: 700px;

  height: 100%;
  background-color: white;

}

.sv2 {
  width: 600px;
  height: 700px;

  font-size: 16px;

  margin-left: 10px;

  
}

pre {
  white-space: pre-wrap;
  word-break: break-all;
  overflow: auto;
  color: grey;
  font-weight: bold;
}

strong {
  color: black;
  font-weight: bold;
}

.svHeader {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  font-weight: bold;
  height: 45px;
  width: 100%;
  min-width: 600px;
}

.svGauge {
  display: flex;
  width: 80%;
  min-width: 600px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.svblue {
  background-color: #99E1ED;
  width: 20%;
  height: 10px;
  display: flex;
  align-items: center;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.svGray {
  background-color: gainsboro;
  width: 65%;
  height: 10px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.count {
  width: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 18px;
  height: 100%;
}

.checks {
  height: 625px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}


/* 다음 버튼 스타일 */
#bodyCheck {
  width: 70px;
  height: 35px;
  background-color: #99E1ED;
  border: none;
  color: white;
  border-radius: 3px;
  cursor: pointer;
  margin-top: 310px;
  margin-left: 470px;
  font-size: 0.8em;
  font-weight: bold;
}
















/* 체크박스 스타일 */

/* .where {
display: block;
margin: 25px 15px;
font-size: 11px;
color: #000;
text-decoration: none;
font-family: verdana;
font-style: italic;
} */

.checks {
  position: relative;
}

.checks input[type="checkbox"] {
  /* 실제 체크박스는 화면에서 숨김 */
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0
}

.checks input[type="checkbox"]+label {
  display: inline-block;
  position: relative;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.checks input[type="checkbox"]+label:before {
  /* 가짜 체크박스 */
  content: ' ';
  display: inline-block;
  width: 21px;
  /* 체크박스의 너비를 지정 */
  height: 21px;
  /* 체크박스의 높이를 지정 */
  line-height: 21px;
  /* 세로정렬을 위해 높이값과 일치 */
  margin: -2px 8px 0 0;
  text-align: center;
  vertical-align: middle;
  background: #fafafa;
  border: 1px solid #cacece;
  border-radius: 3px;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
}

.checks input[type="checkbox"]+label:active:before,
.checks input[type="checkbox"]:checked+label:active:before {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px 1px 3px rgba(0, 0, 0, 0.1);
}


.checks input[type="checkbox"]:checked+label:before {
  /* 체크박스를 체크했을때 */
  content: '\2714';
  /* 체크표시 유니코드 사용 */
  color: #99a1a7;
  text-shadow: 1px 1px #fff;
  background: #e9ecee;
  border-color: #adb8c0;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05), inset 15px 10px -12px rgba(255, 255, 255, 0.1);
}


.checks.etrans input[type="checkbox"]+label {
  padding-left: 30px;
}

.checks.etrans input[type="checkbox"]+label:before {
  position: absolute;
  left: 0;
  top: 0;
  margin-top: 0;
  opacity: 0.6;
  box-shadow: none;
  border-color: #6cc0e5;
  -webkit-transition: all .12s, border-color .08s;
  transition: all .12s, border-color .08s;
}

.checks.etrans input[type="checkbox"]:checked+label:before {
  position: absolute;
  content: "";
  width: 10px;
  top: -5px;
  left: 5px;
  border-radius: 0;
  opacity: 1;
  background: transparent;
  border-color: transparent #6cc0e5 #6cc0e5 transparent;
  border-top-color: transparent;
  border-left-color: transparent;
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.no-csstransforms .checks.etrans input[type="checkbox"]:checked+label:before {
  /*content:"\2713";*/
  content: "\2714";
  top: 0;
  left: 0;
  width: 21px;
  line-height: 21px;
  color: #6cc0e5;
  text-align: center;
  border: 1px solid #6cc0e5;
}

.etrans {
  margin-left: 30px;
  font-size: 1.3em;

}


/* input range 스타일 */
.rangeInput {
  width: 90%;
  background: linear-gradient(to right, #99E1ED 0%, #99E1ED 50%, #ececec 50%, #ececec 100%);
  border-radius: 8px;
  outline: none;
  transition: background 450ms ease-in;
  -webkit-appearance: none;
  accent-color: #00c7ae;
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 12px;
  height: 12px;
  background: none;
  border-radius: 50%;
}


/* ------------------------------------------------------------------ */

/* 체크박스 스타일 */

/* .where {
display: block;
margin: 25px 15px;
font-size: 11px;
color: #000;
text-decoration: none;
font-family: verdana;
font-style: italic;
} */

.popList {
  position: relative;
}

.popList input[type="checkbox"] {
  /* 실제 체크박스는 화면에서 숨김 */
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0
}

.popList input[type="checkbox"]+label {
  display: inline-block;
  position: relative;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.popList input[type="checkbox"]+label:before {
  /* 가짜 체크박스 */
  content: ' ';
  display: inline-block;
  width: 21px;
  /* 체크박스의 너비를 지정 */
  height: 21px;
  /* 체크박스의 높이를 지정 */
  line-height: 21px;
  /* 세로정렬을 위해 높이값과 일치 */
  margin: -2px 8px 0 0;
  text-align: center;
  vertical-align: middle;
  background: #fafafa;
  border: 1px solid #cacece;
  border-radius: 3px;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
}

.popList input[type="checkbox"]+label:active:before,
.popList input[type="checkbox"]:checked+label:active:before {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px 1px 3px rgba(0, 0, 0, 0.1);
}


.popList input[type="checkbox"]:checked+label:before {
  /* 체크박스를 체크했을때 */
  content: '\2714';
  /* 체크표시 유니코드 사용 */
  color: #99a1a7;
  text-shadow: 1px 1px #fff;
  background: #e9ecee;
  border-color: #adb8c0;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05), inset 15px 10px -12px rgba(255, 255, 255, 0.1);
}


.popList.list input[type="checkbox"]+label {
  padding-left: 30px;
}

.popList.list input[type="checkbox"]+label:before {
  position: absolute;
  left: 0;
  top: 0;
  margin-top: 0;
  opacity: .6;
  box-shadow: none;
  border-color: #6cc0e5;
  -webkit-transition: all .12s, border-color .08s;
  transition: all .12s, border-color .08s;
}

.popList.list input[type="checkbox"]:checked+label:before {
  position: absolute;
  content: "";
  width: 10px;
  top: -5px;
  left: 5px;
  border-radius: 0;
  opacity: 1;
  background: transparent;
  border-color: transparent #6cc0e5 #6cc0e5 transparent;
  border-top-color: transparent;
  border-left-color: transparent;
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.no-csstransforms .popList.list input[type="checkbox"]:checked+label:before {
  /*content:"\2713";*/
  content: "\2714";
  top: 0;
  left: 0;
  width: 21px;
  line-height: 21px;
  color: #6cc0e5;
  text-align: center;
  border: 1px solid #6cc0e5;
}

.etrans {
  margin-left: 30px;
  font-size: 1.3em;

}


/* 닫기 버튼 */
/* FLOAT */
a.button {
  display: block;
  
  float: left;
  width: 120px;
  padding: 0;
  margin: 10px 20px 10px 0;
  font-weight: 600;
  text-align: center;
  line-height: 50px;
  color: #FFF;
  border-radius: 5px;
  transition: all 0.2s ;
  

}
.btnFloat {
  position: fixed;
  background: none;
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.5);
  left: 1100px;
  top: 800px;
  
 
}

.btnFloat:before {
  content: '메인으로';
  display: block;
  top: 0;
  left: 0;
  width: 100px;
  height: 45px;
  border-radius: 5px;
  transition: all 0.2s ;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: white;
  font-weight: bold;
}

.btnLightBlue.btnFloat:before {
  background: #5DC8CD;
}


.btnFloat:before {
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.4);
}


.btnFloat:hover:before {
  margin-top: -2px;
  margin-left: 0px;
  transform: scale(1.1,1.1);
  -ms-transform: scale(1.1,1.1);
  -webkit-transform: scale(1.1,1.1);
  box-shadow: 0px 5px 5px -2px rgba(0, 0, 0, 0.25);
}
