* {
    box-sizing: border-box;
}

#main-container{
    margin: 100px 400px;
    height: auto;
    min-width: 1200px;
}

/* #main-container *{
    border: 1px solid #ddd;
} */

#title-area > div:nth-of-type(2){
    padding-bottom: 10px;
    border-bottom: 2px solid #ddd;
}

/* 게시글 상세 조회 영역 */
#detail-container{
    width: 800px;
    margin: auto;
}

/* 게시글 제목 */
#title-middle-area{
    display: flex;
}

/* #title-middle-area *{
    border: 1px solid black;
} */

#title{
    margin-top: 20px;
    margin-bottom: 20px;
    height: 40px;
    width: 70%;

    font-size: 30px;
    font-weight: bold;

}

#title-middle-area > div:nth-of-type(2){
    width: 30%;
    display: flex;
    
    justify-content: center;
    align-items: center;
}

#title-middle-area > div:nth-of-type(2) > div{
    width: 50%;
    text-align: center;
    padding: 0;
}

/* 게시글 작성자 정보 영역 */
#writer-info-area{
    display: flex;
    align-items: center;

    margin-bottom: 20px;
}

/* 프로필 사진 영역 */
#profile-area{
    width: 80px;
    height: 80px;
    
    border-radius: 50%;
    border: 2px solid #ddd;
}

#profile-area > img{
    width: 100%;
    height: 100%;

    border-radius: 50%;
}

/* 닉네임 */
#nick-area{
    font-size: 20px;

    margin-left: 20px;

    display: flex;
    flex-direction: column;
}

#nickname{
    text-align: center;
}

#nickname a{
    text-decoration: none;
    color: #797979;
}

/* 팔로잉 버튼 */
#following-btn{
    margin-top: 5px;
    height: 27px;
    width: 100px;

    font-size: 16px;
    border-radius: 5px;

    background-color: #99E1ED;
    color: white;
    border: 1px solid #99E1ED;

    cursor: pointer;
}

#following-btn:hover{
    border-radius: 1px solid #99E1ED;

    color: #99E1ED;
    background-color: white;
    border: 1px solid #99E1ED;

    transition-duration: 0.2s;
}

/* 팔로우 버튼 */
#follow-btn{
    margin-top: 5px;
    height: 27px;
    width: 100px;

    font-size: 16px;
    border-radius: 5px;

    color: #99E1ED;
    background-color: white;
    border: 1px solid #99E1ED;

    cursor: pointer;
}

#follow-btn:hover{
    border-radius: 1px solid #99E1ED;

    color: #99E1ED;
    background-color: white;
    border: 1px solid #99E1ED;

    transition-duration: 0.2s;
}

#follow-btn:hover{
    border-radius: 1px solid #99E1ED;

    background-color: #99E1ED;
    color: white;
    border: 1px solid #99E1ED;

    transition-duration: 0.2s;
}

/* 게시글 해시태그 영역 */
#hashtag-area{
    display: flex;

    height: 40px;

    padding-top: 7px;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 20px;

    font-size: 18px;
}

#hashtag-area a{
    text-decoration: none;
    color: #99E1ED;
}

#hashtag-area a:hover{
    transform: scale(1.05);
    transition-duration: 0.5s;
}

.hashtag{
    width: auto;

    background-color: white;
    color: #99E1ED;

    margin: 0 5px 0 0;

    padding: 4px 5px;
    text-align: center;

    border-radius: 7px 9px;
    border: 1px solid #99E1ED;

    cursor: pointer;
}

/* 게시글 상세 조회 내용 영역 */
#board-detail-area{
    height: auto;
}

#board-content-area{
    height: auto;

    padding: 30px;
    font-size: 18px;

    text-align: center;

    background-color: white;
    border-radius: 5px;
}

/* 게시글 버튼 영역 */
/* 좋아요 영역 */
#btn-area{
    height: 100px;
}

.board-like{
    height: 100px;
    width: 100px;
    display: flex;
    flex-direction: column;
    margin: 20px auto;
}

.board-like > i{
    font-size: 50px;
    margin: auto;

    cursor: pointer;
}

.board-like > span{
    font-size: 20px;
    margin: auto;
}

/* 나머지 버튼 */
#btn-area{
    display: flex;
    flex-direction: column;
    align-items: center;

    margin: 20px 0;
}

#btn-area > div:nth-child(2){
    width: 350px;
    height: 100px;
    display: flex;
    justify-content: space-between;
}

#btn-area button{
    width: 100px;
    height: 50px;
    background-color: #eee;
    border:  none;
    border-radius: 5px;
    cursor: pointer;
}

#btn-area button:hover{
    background-color: #99E1ED;
    transition-duration: 0.5s;
}

/* 댓글 영역 */
#comment-area{
    border-top: 0.5px solid #ddd;
    /* height: 300px; */
}
.comment-count-area {
    padding :20px 10px 20px 20px;
}
.comment-count-area > i {
    font-size: 35px;
    text-align: center;
    color: #ddd;
}
.comment-count-area > span{
    font-size: 18px;
    padding-left: 10px;
    padding-top: 10px;
}

/* 댓글 입력창 */
.comment-input {
    position: relative;
    width: 800px;
    margin: auto;
}

.comment-input textarea {
    padding: 20px;
    width: 100%;
    height: 100px;
    resize: none;
    outline: none;
    border: 3px solid #eee;
    background-color: #fff;
    border-radius: 20px;
    padding-right: 40px;
    font-size: 18px;

    overflow: auto;
}

.comment-input textarea:focus{
    border: 3px solid #99E1ED;
}

.comment-input button {
    position: absolute;
    top: 0;
    right: 20px;
    width: 50px;
    height: 100%;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.comment-input img{
    width: 100%;
}

#commentList{
    width: 90%;
    margin: auto;
    padding: 0;
    list-style:none;
}

.comment-writer {
    display: flex;
    align-items: center;
}

.comment-writer > img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 2px solid #ddd;
}

.comment-writer > span{
    font-weight: bold;
}

.comment-date{
    font-size: 0.8em;
    color: #aaa;
}

.comment-row{
    padding : 15px 0;
    display: flex;
}

.comment-row > p:nth-child(1){
    display: flex;
    flex-direction: column;
}

.commentInsertContent{
    width: 100%;
    height: 90px;
    resize: none;
    margin-top : 20px;
}

.comment-row > div{
    font-size: 18px;
    width: 120px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.comment-row > div > div:first-child{
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.comment-row > div > div:first-child > span:last-child{
    font-size: 25px;
    cursor: pointer;
}

.comment-row > div > div:first-child > span:last-child:hover {
    font-size: 30px;
    font-weight: bold;
    transition-duration: 0.5s;
}

.comment-row > div > span:last-child {
    display: flex;
    justify-content: flex-end;
    padding-top:10px;
}

.comment-row > p:nth-child(3)>span:nth-child(2):hover{
    font-size: 20px;
    transition-duration: 0.5s;
}

/* 댓글 수정 버튼 */
.comment-row button{
    width: 55px;
    height: 30px;
    border: none;
    cursor: pointer;
    background-color: #aaa;
    color: #fff;
    border-radius: 5px;
    margin-left: 5px;
}

.comment-row button:hover{
    background-color: #99E1ED;
    transition-duration: 0.5s;
}

.comment-content{
    width: 80%;
    font-size: 18px;
    padding-left: 20px;
}

.child-comment{
    padding-left: 50px;
}